body
	background: #FFF
	line-height: 1.4
	+roboto
	font-size: 22px
	min-width: 320px
	+xxl
		font-size: 18px
	+lg
		font-size: 14px
	// &.is-fixed
	// 	+md
	// 		position: fixed
	// 		left: 0
	// 		top: 0
	// 		width: 100%
	&.is-overflow-hidden
		overflow: hidden

a
	text-decoration: none
	color: currentColor

.hero__dot
	position: relative
	&:before
		content: ''
		position: absolute
		+vcenter
		width: 200%
		height: 200%

[data-tabs]
	// overflow: hidden
	[data-tabs-control]
		cursor: pointer
		user-select: none
		// transition: background-color .3s
		&[disabled],
		&.is-disabled
			cursor: not-allowed
			+nosel
	[data-tabs-wrapper]
		position: relative
	[data-tabs-container]
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		display: none
		// opacity: 0
		// visibility: hidden
		transition: opacity 0.3s, visibility 0.3s
		&.is-open
			position: relative
			// opacity: 1
			// visibility: visible
			display: block