body
	background: $white
	line-height: 1.4
	+roboto
	font-size: 15px
	min-width: 320px
	&.is-open-popup,
	&.is-overflow-hidden
		overflow: hidden

a
	text-decoration: none
	color: currentColor

.text-green
	color: $green 
[data-tabs]
	// overflow: hidden
	[data-tabs-control]
		cursor: pointer
		user-select: none
		&[disabled],
		&.is-disabled
			cursor: not-allowed
			+nosel
	[data-tabs-wrapper]
		position: relative
	[data-tabs-container]
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		// display: none
		opacity: 0
		visibility: hidden
		transition: opacity 0.3s, visibility 0.3s
		&.is-open
			position: relative
			opacity: 1
			visibility: visible
			// display: block

.menu-footer-wrap
	margin-top: 115px

.bg-powder-dark
	background-color: $powderDark
.bg-powder
	background-color: $powder
.bg-pink
	background-color: rgba($pink, .1)
.bg-orange
	background-color: rgba($orange, .1)
.bg-green
	background-color: rgba($green, .1)
.bg-gray
	background-color: $lightGray
.inf
	vertical-align: top
	display: inline-block
	&__icon
		border-width: 1px
		border-color: rgb(181, 181, 181)
		border-style: solid
		border-radius: 50%
		width: 20px
		height: 20px
		font-size: 12px
		text-align: center
		line-height: 18px
		display: block