.title
    +circe
    +f(40px, 700)
    text-transform: uppercase
    color: $brown
    +lg
        font-size: 30px
    &_lg
        font-size: 53px
        letter-spacing: -0.025em
    &_m
        font-size: 30px
        line-height: 1.5
    &_s
        +f(22px, 700, 1)
        color: $white

.description
    +roboto
    +f(20px, 400)
    color: $black