---
title: Blog
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
{{header.block()}}
<button type="button" class="btn-top js-scroll-top">
	{{mixins.icon('arr-right')}}
</button>
<div class="blog">
	<div class="blog__inner inner">
		<h2 class="blog__title title"><span>Блог</span>всё самое интересное про нас! )))</h2>
	</div>
	<div class="inner-md">
		{% for item in [
			{
				class: 'blog',
				img: 'blog-main.jpg',
				date: '01.03.2019',
				title: 'название тема сообщения.
						<br>Название Название Название',
				text: 'Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном. Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компанииКорневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. ',
				link: 'Рецепт на заметку'
			}] %}
			<div class="blog__main">
				{{mixins.offer(item)}}
			</div>
		{% endfor %}
		<div class="inner">
			<div class="blog__grid js-gallery">
					<div class="grid-sizer"></div>
				{% for item in [
					{
						class: 'blog-item_first',
						img: 'blogItem.png',
						link: 'Наши новости',
						date: '01.03.2019',
						title: 'название тема сообщения. Название Название Название'
					},
					{
						class: 'blog-item_second',
						img: 'blogItem.png',
						link: 'Все о еде',
						date: '01.03.2019',
						title: 'название тема сообщения. Название Название Название'
					},
					{
						class: 'blog-item_third',
						img: 'blogItem.png',
						link: 'Рецепт на заметку',
						date: '01.03.2019',
						title: 'название тема сообщения. Название Название Название Название',
						vertical: true
					},
					{
						class: 'blog-item_fourth',
						img: 'blogItem.png',
						link: 'Наши новости',
						date: '01.03.2019',
						title: 'название тема сообщения. Название Название Название'
					}
				] %}
					{{ mixins.blogItem(item) }}
				{% endfor %}
			</div>
		</div>
		{% for item in [
			{
				class: 'blog',
				img: 'blog-main.jpg',
				date: '01.03.2019',
				title: 'название тема сообщения.
						<br>Название Название Название',
				text: 'Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном. Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компанииКорневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. ',
				link: 'Рецепт на заметку'
			}] %}
			<div class="blog__main">
				{{mixins.offer(item)}}
			</div>
		{% endfor %}
		<div class="inner">
			<div class="blog__grid js-gallery">
					<div class="grid-sizer"></div>
				{% for item in [
					{
						class: 'blog-item_fifth',
						img: 'blogItem.png',
						link: 'Наши новости',
						date: '01.03.2019',
						title: 'название тема сообщения. Название Название Название'
					},
					{
						class: 'blog-item_sixth',
						img: 'blogItem.png',
						link: 'Все о еде',
						date: '01.03.2019',
						title: 'название тема сообщения. Название Название Название'
					},
					{
						class: 'blog-item_seventh',
						img: 'blogItem.png',
						link: 'Рецепт на заметку',
						date: '01.03.2019',
						title: 'название тема сообщения. Название Название Название Название'
					},
					{
						class: 'blog-item_eighth',
						img: 'blogItem.png',
						link: 'Наши новости',
						date: '01.03.2019',
						title: 'название тема сообщения. Название Название Название',
						vertical: true
					}
				] %}
					{{ mixins.blogItem(item) }}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<div class="footer-wrap">
	{{footer.block({footerBottom: 'footer__bottom_big'})}}
</div>
{{mob_menu.mob_block()}}
{# {% include "partials/_form-sm.html"%} #}

{% endblock %}