---
title: contacts
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
{{header.block()}}
{{hero.block({class: 'hero_small'})}}
{# {% include "partials/_form-main.html"%} #}
<div class="about">
	<div class="about__inner inner">
		<h2 class="about__title title">О сервисе</h2>
	</div>
	<div class="about__options">
		{{mixins.aboutOptions({fourth: true})}}
	</div>
	<div class="contacts">
		<div class="contacts__inner inner">
			<div class="contacts__main">
				<div class="contacts__left">
					<div class="contacts__item contacts-item">
						<h3 class="contacts-item__title title-s bg-gray">санкт-петербург</h3>
						<ul class="contacts-item__list">
							<li class="contacts-item__item">
								<a href="tel:+78126404911 ">+ 7 (812) 640 4 911</a>
							</li>
							<li class="contacts-item__item">
								<div>пер. Челиева, 13 А</div>
							</li>
							<li class="contacts-item__item">
								<a href="mailto:info@ps.delivery" class="contacts-item__link contacts-item__link_underline">info@ps.delivery</a>
							</li>
						</ul>
					</div>
					<div class="contacts__item contacts-item">
						<h3 class="contacts-item__title title-s bg-gray">Москва</h3>
						<ul class="contacts-item__list">
							<li class="contacts-item__item">
								<a href="tel:+78126404911 ">+ 7 (812) 640 4 911</a>
							</li>
							<li class="contacts-item__item">
								<a href="#">WhatsApp: 89992415985</a>
							</li>
							<li class="contacts-item__item">
								<a href="mailto:info@ps.delivery">info@ps.delivery</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="contacts__right">
					<div class="contacts__map map"></div>
				</div>
			</div>
		</div>
		<div class="contacts__form bg-green">
			<div class="inner">
				<h3 class="contacts__form-title title-s">обратная связь</h3>
				<form action="/" class="form">
					<div class="form__contacts-input">
						<div class="form-group">
							<input type="text" placeholder="Имя">
						</div>
						<div class="form-group">
							<input type="text" placeholder="Фамилия">
						</div>
						<div class="form__row">
							<div class="form__col">
								<div class="form-group">
									<input type="text" placeholder="ваш телефон">
								</div>
							</div>
							<div class="form__col-md">
								<div class="form-group">
									<input type="text" placeholder="ваш e-mail">
								</div>
							</div>
						</div>
					</div>
					<div class="form__contacts-text">Кому вы хотите написать:</div>
					<div class="form__select">
						<select name="persons" class="js-select">
							<option value="">Администратору сайта</option>
							<option value="">Генеральному директору</option>
						</select>
					</div>
					<div class="form__contacts-textarea">
						<div class="form-group">
							<textarea placeholder="ваше сообщение"></textarea>
						</div>
					</div>
					<div class="contacts__form-btn">
						<button type="submit" class="btn btn_green"><span>отправить сообщение</span></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{{footer.block({footerBottom: 'footer__bottom_big'})}}
{{mob_menu.mob_block()}}
{# {% include "partials/_form-sm.html"%} #}

{% endblock %}
