---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
{{header.block()}}
{% include "partials/_hero.html" %}
{% include "partials/_dishful.html" %}
{{dishes_slider.dish_select({bg: 'bg_orange', btn_mod: 'btn_green'})}}
{{dishes_slider.dish_select({bg: 'bg_orange', btn_mod: 'btn_orange'})}}
{{dishes_slider.dish_select({bg: 'bg_pink', btn_mod: 'btn_pink'})}}
{# {% include "partials/_form-sm.html"%} #}
{# {% include "partials/_form-main.html"%} #}
{% include "partials/_footer.html"%}
{# {% include "partials/_mob-menu.html"%} #}
{{mob_menu.mob_block()}}

{% endblock %}