---
title: Order
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
{{header.block()}}
{{hero.block({class: 'hero_small'})}}
{# {% include "partials/_form-main.html"%} #}
<div class="cabinet">
	<div class="cabinet__inner inner">
		<div class="cabinet__user">
			<div class="user">
				<div class="user__person">
					<div class="user__icon">{{mixins.icon('user')}}</div>
					<div class="user__name">Анжелика Владимировна Августовская</div>
				</div>
				<div class="user__btn">
					<a href="#" class="btn btn_green btn_square"><span><span class="user__points">2500</span> баллов</span></a>
				</div>
			</div>
		</div>
	</div>
	<div class="options">
		<div class="options__inner inner">
			<ul class="options__list">
				<li class="options__item title-s">
					<a href="#">личные данные</a>
				</li>
				<li class="options__item bg-powder-dark title-s">
					<a href="#">Меню</a>
				</li>
				<li class="options__item title-s">
					<a href="#">Подписки</a>
				</li>
				<li class="options__item bg-powder-dark title-s is-active">
					<a href="#">Заказы</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="order-page">
		<div class="order-page__inner inner">
			<h2 class="order-page__title title">Запланированные заказы </h2>
			<div class="order-page__order">
				<div class="order bg-powder">
					<div class="order__main">
						<div class="order__header">Доставка <span>по понедельника, с 9.00 до 12.00</span></div>
						<p>Заказ №1269629</p>
						<p>Адрес: Санкт-Петербург, Учительская ул., 15, корп, 2, кв, 19 </p>
						<p>Получатель: Анжелика Иванова, +7 921 882-45-24</p>
						<p>Способ оплаты: наличные</p>
						<div class="order__footer">Состав: <span>название блюда, название меню</span></div>
					</div>
					<div class="order__total total">
						<div class="total__sum"><span>2500 руб. </span>ваш кешбэк: 25 бонусов</div>
						<div class="total__unavailable">Недоступен для изменения</div>
					</div>
				</div>
				<div class="order-page__item">
					<div class="order bg-powder">
						<div class="order__main">
							<div class="order__header">Доставка <span>по понедельника, с 9.00 до 12.00</span></div>
							<p>Заказ №1269629</p>
							<p>Адрес: Санкт-Петербург, Учительская ул., 15, корп, 2, кв, 19 </p>
							<p>Получатель: Анжелика Иванова, +7 921 882-45-24</p>
							<p>Способ оплаты: наличные</p>
							<div class="order__footer">Состав: <span>название блюда, название меню</span></div>
						</div>
						<div class="order__total total">
							<div class="total__sum"><span>2500 руб. </span>ваш кешбэк: 25 бонусов</div>
							<div class="total__btn">
								<a href="#" class="btn btn_green btn_wide"><span>изменить заказ</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<h2 class="order-page__title title">заказы по подписке</h2>
			<div class="order-page__order">
				<div class="order bg-powder">
					<div class="order__main">
						<div class="order__header">Доставка <span>по понедельника, с 9.00 до 12.00</span></div>
						<p>Заказ №1269629</p>
						<p>Адрес: Санкт-Петербург, Учительская ул., 15, корп, 2, кв, 19 </p>
						<p>Получатель: Анжелика Иванова, +7 921 882-45-24</p>
						<p>Способ оплаты: наличные</p>
						<div class="order__footer">Состав: <span>название блюда, название меню</span></div>
					</div>
					<div class="order__total total">
						<div class="total__sum"><span>2500 руб. </span>ваш кешбэк: 25 бонусов</div>
						<div class="total__btn">
							<a href="#" class="btn btn_green btn_wide"><span>изменить подписку</span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="order-page__bonus bonus">
				<div class="bonus__share bg-green">
					<div class="bonus__share-left">
						<p>Поделись с другом промо-кодом и получи <span class="bonus__share-accent"><span>500 </span>бонусных рублей </span>на свой счет, после того как друг совершит свой первый заказ с твоим промо-кодом.</p>
						<p class="bold">Ваш друг тоже получает 500 бонусных рублей на свой счет!</p>
						<div class="bonus__promo">
							<input type="text" class="bonus__promocode bonus-promo" value="123456" readonly>
							<div class="bonus__social">
								<span>Поделись промокодом:</span>
								<ul class="bonus__social-list">
									<li class="bonus__social-item"><a href="#">{{mixins.icon('vk')}}</a></li>
									<li class="bonus__social-item"><a href="#">{{mixins.icon('facebook')}}</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="bonus__share-img">
						<img src="./img/info-box.svg" alt="">
					</div>
				</div>
			</div>
			<h2 class="order-page__title title">Выполненные заказы</h2>
			<div class="order-page__order">
				<div class="order bg-gray">
					<div class="order__main">
						<div class="order__header">Доставка <span>25.07.2019, с 9.00 до 12.00</span></div>
						<p>Заказ №1269629</p>
						<p>Адрес: Санкт-Петербург, Учительская ул., 15, корп, 2, кв, 19 </p>
						<p>Получатель: Анжелика Иванова, +7 921 882-45-24</p>
						<p>Способ оплаты: наличные</p>
						<div class="order__footer">Состав: <span>название блюда, название меню</span></div>
					</div>
					<div class="order__total total">
						<div class="total__sum"><span>2500 руб. </span>ваш кешбэк: 25 бонусов</div>
						<div class="total__btn">
							<a href="#" class="btn btn_pink btn_wide"><span>Оставить отзыв</span></a>
						</div>
					</div>
				</div>
				<div class="order-page__item">
					<div class="order bg-gray">
						<div class="order__main">
							<div class="order__header">Доставка <span>25.07.2019, с 9.00 до 12.00</span></div>
							<p>Заказ №1269629</p>
							<p>Адрес: Санкт-Петербург, Учительская ул., 15, корп, 2, кв, 19 </p>
							<p>Получатель: Анжелика Иванова, +7 921 882-45-24</p>
							<p>Способ оплаты: наличные</p>
							<div class="order__footer">Состав: <span>название блюда, название меню</span></div>
						</div>
						<div class="order__total total">
							<div class="total__sum"><span>2500 руб. </span>ваш кешбэк: 25 бонусов</div>
							<div class="total__btn">
								<a href="#" class="btn btn_pink btn_wide"><span>Оставить отзыв</span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="order-page__item">
					<div class="order bg-gray">
						<div class="order__main">
							<div class="order__header">Доставка <span>25.07.2019, с 9.00 до 12.00</span></div>
							<p>Заказ №1269629</p>
							<p>Адрес: Санкт-Петербург, Учительская ул., 15, корп, 2, кв, 19 </p>
							<p>Получатель: Анжелика Иванова, +7 921 882-45-24</p>
							<p>Способ оплаты: наличные</p>
							<div class="order__footer">Состав: <span>название блюда, название меню</span></div>
						</div>
						<div class="order__total total">
							<div class="total__sum"><span>2500 руб. </span>ваш кешбэк: 25 бонусов</div>
							<div class="total__btn">
								<a href="#" class="btn btn_pink btn_wide"><span>Оставить отзыв</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{footer.block({footerBottom: 'footer__bottom_big'})}}
{{mob_menu.mob_block()}}
{# {% include "partials/_form-sm.html"%} #}

<div class="modal is-open" data-modal="rating">
	<div class="modal__container" data-modal-container>
		<div class="modal__inner">
			<div class="rating">
				<h3 class="rating__title title title_m">Нам очень важно ваше мнение!</h3>
				<div class="rating__subtitle title-s">Оцените меню </div>
				<div class="rating__list">
					{% for item in [
						{
							img: 'menu-slide1.jpg',
							title: 'СОЧНАЯ ГОВЯДИНА',
							subtitle: 'Доставка 25.03.2018'
						},
						{
							img: 'menu-slide1.jpg',
							title: 'СОЧНАЯ ГОВЯДИНА с паровыми овощами с паровыми овощами',
							subtitle: 'Доставка 25.03.2018'
						},
						{
							img: 'menu-slide1.jpg',
							title: 'СОЧНАЯ ГОВЯДИНА с паровыми овощами с паровыми овощами',
							subtitle: 'Доставка 25.03.2018'
						},
						{
							img: 'menu-slide1.jpg',
							title: 'СОЧНАЯ ГОВЯДИНА с паровыми овощами с паровыми овощами',
							subtitle: 'Доставка 25.03.2018'
						},
						{
							img: 'menu-slide1.jpg',
							title: 'СОЧНАЯ ГОВЯДИНА с паровыми овощами с паровыми овощами',
							subtitle: 'Доставка 25.03.2018'
						},
						{
							title: 'Оцените сервис доставки',
							empty: true
						}
					] %}
						{% if item.empty %}
						{{mixins.ratingEmpty(item)}}
						{% else %}
						{{mixins.ratingItem(item)}}
						{% endif %}
					{% endfor %}
				</div>
				<div class="rating__shop">
					<div class="rating__shop-left">
						<h3 class="rating__shop-title title-s">Оцените товары из Лавки</h3>
					</div>
					<ol class="rating__shop-right">
						{% for item in range(0, 3) %}
						<li class="shop-good">
							<div class="shop-good__name">Название товара</div>
							<div class="shop-good__mood-wrap">
								<label class="shop-good__mood check">
									<input type="checkbox" checked>
									<img src="./img/ratingGood.png" alt="" class="rating-item__mood-icon rating-item__mood-icon_checked">
									<img src="./img/ratingNormal.png" alt="" class="rating-item__mood-icon rating-item__mood-icon_disabled">
								</label>
								<label class="shop-good__mood check">
									<input type="checkbox">
									<img src="./img/ratingGood.png" alt="" class="rating-item__mood-icon rating-item__mood-icon_checked">
									<img src="./img/ratingNormal.png" alt="" class="rating-item__mood-icon rating-item__mood-icon_disabled">
								</label>
								<label class="shop-good__mood check">
									<input type="checkbox">
									<img src="./img/ratingGood.png" alt="" class="rating-item__mood-icon rating-item__mood-icon_checked">
									<img src="./img/ratingBad.png" alt="" class="rating-item__mood-icon rating-item__mood-icon_disabled">
								</label>
							</div>
						</li>
						{% endfor %}
					</ol>
				</div>
				<form action="/" class="rating__form">
					<div class="rating__form-textarea">
						<div class="form-group">
							<textarea placeholder="Коментарий"></textarea>
						</div>
					</div>
					<div class="rating__form-btn">
						<label class="check">
							<input type="checkbox" checked>
							<span class="check__text">Свяжитесь со мной по телефону</span>
						</label>
						<a href="#" class="btn btn_pink"><span>отправить отзыв</span></a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal" data-modal="rating-sm">
	<div class="modal__container" data-modal-container>
		<div class="modal__inner">
			<div class="rating-sm">
				<div class="rating-sm__img" style="background-image: url(./img/ratingThx.png)">
					<div class="rating-sm__text">
						<h2 class="rating-sm__title title">большое спасибо!</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal" data-modal="rating-sm-manager">
	<div class="modal__container" data-modal-container>
		<div class="modal__inner">
			<div class="rating-sm rating-sm_manager">
				<div class="rating-sm__img" style="background-image: url(./img/ratingManager.png)">
					<div class="rating-sm__text">
						<h2 class="rating-sm__title title">большое спасибо!</h2>
						<div class="rating-sm__aside">Наш менеджер перезвонит вам в течении часа</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}