---
title: reviews
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
{{header.block()}}
{{hero.block({class: 'hero_small'})}}
{# {% include "partials/_form-main.html"%} #}
<div class="reviews">
	<div class="reviews__inner inner">
		<h2 class="reviews__title title">что о нас говорят:</h2>
		<div class="reviews__top">
			<div class="reviews__btn">
				<span class="reviews__btn-text">Хотите оставить ваш отзыв?</span>
				<a href="#" class="btn btn_blue btn_l"><span>ваш отзыв</span></a>
			</div>
			<div class="pagination">
				<a href="#" class="pagination__prev">{{mixins.icon('arr-left')}}</a>
				<a href="#" class="pagination__link is-active">4</a>
				<a href="#" class="pagination__next">{{mixins.icon('arr-right')}}</a>
				<span class="pagination__all">из 25</span>
			</div>
		</div>
	</div>
	<div class="reviews__wrap">
		{% for item in range(0, 4) %}
			<div class="testimonial-item">
				<div class="testimonial-item__inner inner">
					<div class="testimonial-item__content">
						<div class="testimonial-item__avatar">
							<img src="./img/user.svg" alt="">
						</div>
						<div class="testimonial-item__info">
							<div class="testimonial-item__user"><span>Имяимяимя</span>, 14 дней назад</div>
							<p>Текст отзыва: Страница с отзывами клиентов и просто посетителей сайта, каждый отзыв может содержать в себе фотографии (до 5 шт) от клиента с готовыми блюдами. С отзывами клиентов и просто посетителей сайта, каждый отзыв может содержать в себе фотографии (до 5 шт) от клиента с готовыми блюдами. Страница с отзывами клиентов и просто посетителей сайта, каждый отзыв может содержать в себе фотографии (до 5 шт) от клиента с готовыми блюдами.  С отзывами клиентов и просто посетителей сайта, каждый отзыв может содержать в себе фотографии (до 5 шт) от клиента с готовыми блюдами.   посетителей сайта, каждый отзыв может содержать в себе фотографии (до 5 шт) от клиента с готовыми блюдами. С отзывами клиентов и просто посетителей сайта, каждый отзыв может содержать в себе фотографии (до 5 шт) от клиента с готовыми блюдами. Страница с отзывами клиентов и просто посетителей сайта, каждый отзыв может содержать в себе фотографии (до 5 шт)</p>
						</div>
					</div>
					<div class="testimonial-item__gallery">
						{% for item in range(0, 5) %}
						<div class="testimonial-item__gallery-item" style="background-image: url(./img/review.png)"></div>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="inner">
		<div class="reviews__pagination-bottom">
			<div class="pagination">
				<a href="#" class="pagination__prev">{{mixins.icon('arr-left')}}</a>
				<a href="#" class="pagination__link is-active">4</a>
				<a href="#" class="pagination__next">{{mixins.icon('arr-right')}}</a>
				<span class="pagination__all">из 25</span>
			</div>
		</div>
	</div>
</div>
{{footer.block({footerBottom: 'footer__bottom_big'})}}
{{mob_menu.mob_block()}}
{# {% include "partials/_form-sm.html"%} #}

<div class="modal is-open" data-modal="review-form">
	<div class="modal__container" data-modal-container>
		<div class="modal__inner">
			<div class="review-form is-success">
				<div class="review-form__head">
					<h2 class="review-form__title title-s">Оставьте ваш отзыв о нашем сервисе Ваше мнение нам очень важно!</h2>
					<div class="review-form__icon" style="background-image: url(./img/ratingGood.png)"></div>
				</div>
				<form action="/" class="review-form__form form is-success">
					<div class="form-group">
						<input type="text" placeholder="Ваше имя">
					</div>
					<div class="form-group">
						<textarea placeholder="Ваши отзыв"></textarea>
					</div>
					<a href="#" class="review-form__form-link">
						<div class="review-form__photo" style="background-image: url(./img/formPhoto.png)"></div>
						Присоединить до 5 фото фото
					</a>
					<div class="review-form__btn">
						<button type="button" class="btn btn_green"><span>отправить</span></button>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-close">
			<button type="button" class="btn-close btn-close_brown" data-modal-close></button>
		</div>
		<div class="success">
			<h2 class="success__title title-s">ваш отзыв успешно отправлен.</h2>
			<div class="success__text"><span>Спасибо за озыв. </span>Мы стараемся стать лучше, и ваше мнение о нашем сервисе помогает нам в этом! </div>
			<div class="success__icon" style="background-image: url(./img/ratingGood.png)"></div>
		</div>
	</div>
</div>
{% endblock %}
