---
title: Stock
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
{{header.block()}}
{{hero.block({class: 'hero_small'})}}
<div class="stock-page">
	<div class="stock-page__inner inner">
		<h2 class="stock-page__title title">акции</h2>
		<div class="stock-page__pagination">
			<div class="pagination">
				<a href="#" class="pagination__prev">{{mixins.icon('arr-left')}}</a>
				<a href="#" class="pagination__link is-active">3</a>
				<a href="#" class="pagination__next">{{mixins.icon('arr-right')}}</a>
				<span class="pagination__all">из 25</span>
			</div>
		</div>
	</div>
	<div class="stock-page__inner-offer inner">
		<div class="stock-page__list">
			{% for item in [
				{
					img: 'info1.png',
					date: 'с 1 марта',
					title: 'название акции “весна в городе, всем худеть!”
						<br>“весна в городе, всем худеть!”
						<br>“весна в городе, всем худеть!”',
					text: ' Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. ',
					btn: 'подробнее'
				},
				{
					img: 'info1.png',
					date: 'с 1 марта',
					title: 'название акции “весна в городе, всем худеть!”
						<br>“весна в городе, всем худеть!”
						<br>“весна в городе, всем худеть!”',
					text: ' Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. ',
					btn: 'подробнее'
				},
				{
					img: 'info1.png',
					date: 'с 1 марта',
					title: 'название акции “весна в городе, всем худеть!”
						<br>“весна в городе, всем худеть!”
						<br>“весна в городе, всем худеть!”',
					text: ' Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. ',
					btn: 'подробнее'
				},
				{
					img: 'info1.png',
					date: 'с 1 марта',
					title: 'название акции “весна в городе, всем худеть!”
						<br>“весна в городе, всем худеть!”
						<br>“весна в городе, всем худеть!”',
					text: ' Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. Корневой раздел содержит меню подразделов в левом дополнительном блоке и статичный текст о компании. ',
					btn: 'подробнее'
				}
				] %}
				<div class="stock-page__item">
					{{mixins.offer(item)}}
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="stock-page__inner inner">
		<div class="stock-page__pagination">
			<div class="pagination">
				<a href="#" class="pagination__prev">{{mixins.icon('arr-left')}}</a>
				<a href="#" class="pagination__link is-active">3</a>
				<a href="#" class="pagination__next">{{mixins.icon('arr-right')}}</a>
				<span class="pagination__all">из 25</span>
			</div>
		</div>
	</div>
</div>
{{footer.block({footerBottom: 'footer__bottom_big'})}}
{{mob_menu.mob_block()}}
{# {% include "partials/_form-sm.html"%} #}

{% endblock %}