// colors
$white: #fff
$white-opa: rgba(255, 255, 255, 0.85)
$black: #000
$black-opa: rgba(0, 0, 0, 0.4)

$green: #3aab36
$green-bg: rgba($green, 0.1)
$pink: #ca4e97
$orange: #ec6606
$orange-bg: rgba(#f9b255, 0.1) //#e7b05c
$blue: #27bbd4
$brown: #4b3a39
$coffee: #cebca4
$coffee-opa: rgba($coffee, 0.85)
$lightGray: #ebebeb

$mob-border: #9d918c
$gray: #b7b7b7
$grayMid: #e1e1e1
$powder: #fef7ee
$powderDark: #f5e7d4
$pinkLight: #e6d7d7
$greenLight: #e1ecd6
$pinkSlide: rgba(#f29ec4, 0.2)
$orangeSlide: rgba(#f9b255, 0.1)

$red: #b80606

$cardTitle: #181716
