// colors
$white: #fff
$black: #000

$green: #6aa943
$green-bg: rgba(106, 169, 67, 0.1)
$pink: #b04f93
$orange: #d0661b
$orange-bg: rgba(231, 176, 92, 0.1) //#e7b05c
$blue: #6ebad2 
$brown: #483d3c
$coffee: #c7bba4