{% set delivery = [
    {
        img: 'menu-sm.png',
        text: '<span>выбираете</span> меню и удобное  время доставки'
    },
    {
        img: 'box-sm.png',
        text: '<span>Мы доставляем</span> свежие продукты  с подробными рецептами',
        class: 'delivery-item_big'
    },
    {
        img: 'dish-sm.png',
        text: '<span>вы готовите</span> и наслаждаетесь  ужином дома'
    }
] %}
<section class="delivery-info">
    <div class="delivery-info__inner inner">
        <h2 class="delivery-info__title title">Доставляем в каждый дом!</h2>
        <div class="delivery-info__wrap">
            {% for item in delivery %}
            <div class="delivery-info__item">
                <div class="delivery-item {% if item.class %}{{item.class}}{% endif %}">
                    <div class="delivery-item__img-wrap">
                        <img src="img/{{item.img}}" alt="delivery" class="delivery-item__img">
                    </div>
                    <div class="delivery-item__text">
                        <p>{{item.text | safe}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="delivery-info__btn">
            <a href="#" class="delivery-info__btn btn">подробнее</a>
        </div>
    </div>
</section>