{% set delivery = [
    {
        img: 'info-menu',
        text: '<span>выбираете</span> меню<br> и удобное  время доставки',
        class: 'delivery-item_sm'
    },
    {
        img: 'info-box',
        text: '<span>Мы доставляем</span> свежие продукты  с подробными рецептами',
        class: 'delivery-item_big'
    },
    {
        img: 'info-dish',
        text: '<span>вы готовите</span><br> и наслаждаетесь  ужином дома'
    }
] %}
<section class="delivery-info">
    <div class="delivery-info__inner inner">
        <h2 class="delivery-info__title title">Доставляем в каждый дом!</h2>
        <div class="delivery-info__wrap">
            {% for item in delivery %}
            <div class="delivery-info__item">
                <div class="delivery-item {% if item.class %}{{item.class}}{% endif %}">
					<div class="delivery-item__img">
                        <img src="./img/{{item.img}}.svg" alt="" >
					</div>
                    <div class="delivery-item__text">
                        <p>{{item.text | safe}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="delivery-info__btn">
            <a href="#" class="btn"><span>подробнее</span></a>
        </div>
    </div>
</section>