{% import "partials/_mixins.html" as mixins %}
{% macro dish_select(props) %}
<div class="dishes-menu {% if props.bg %}{{props.bg}}{% endif %}">
	<div class="dishes-menu__inner inner js-dishes-slider-wrap menu">
		<h2 class="dishes-menu__title title">Добавьте суп:</h2>
		<div class="menu__prev-arrow js-menu-prev">
			{{ mixins.icon('arrow-left') }}
		</div>
		<div class="menu__next-arrow js-menu-next">
			{{ mixins.icon('arrow-right') }}
		</div>
		<div class="dishes-menu__slider-wrap">
			<div class="dishes__slider dishes-slider js-dishes-slider">
				{% for slide in range(0,8) %}
				<div class="dishes-slider__slide">
					<a href="#" class="dish-item">
						<div class="dish-item__img" style="background-image: url(./img/soup.png)"></div>
						<div class="dish-item__text">
							<h3 class="dish-item__title title title_s">овощной суп  с чечевитцей и луком жаренным</h3>
							<div class="dish-item__bottom">
								<div class="dish-item__weight">125 гр</div>
								<div class="dish-item__price title title_m">523 руб.</div>
							</div>
						</div>
					</a>
					<div class="dishes-slider__plus">
						<button class="btn btn-plus btn_green">{{ mixins.icon('plus') }}</button>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="dishes-menu__btn">
				<a href="#" class="btn btn_lg {% if props.btn_mod %}{{props.btn_mod}}{% endif %}"><span>все супы</span></a>
			</div>
		</div>
	</div>
</div>
{% endmacro %}