<footer class="footer">
    <div class="footer__inner inner">
        <div class="footer__top">
            <div class="footer__logo">
                <div class="footer-logo">
                    {{ mixins.icon('logo') }}
                </div>
                <div class="footer-slogan">ДОСТАВЛЯЕМ<br> В КАЖДЫЙ ДОМ!</div>
            </div>
            <div class="footer__menu"></div>
            <div class="footer__contacts"></div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer__bottom-wrap inner">
            <div class="footer__copyright">
                © ПОРЦИЯ СЧАСТЬЯ 2019
            </div>
            <div class="footer__social">
                <ul class="social">
                    <li class="social__item">
                        <a href="#">{{ mixins.icon('instagram') }}</a>
                    </li>
                    <li class="social__item">
                        <a href="#">{{ mixins.icon('vk') }}</a>
                    </li>
                    <li class="social__item">
                        <a href="#">{{ mixins.icon('facebook') }}</a>
                    </li>
                </ul>
                <a href="#" class="footer__subscribe">ПОДПИСАТЬСЯ НА НОВОСТИ</a>
            </div>
            <div class="footer__stores stores">
                <div class="stores__item">
                    <a href="#"><img src="./img/appstore.svg" alt=""></a>
                </div>
                <div class="stores__item">
                    <a href="#"><img src="./img/googleplay.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</footer>