<div class="form-sm js-form-sm">
    <h3 class="form-sm__title title title_s">Здраствуйте! <br>Я могу вам помочь?</h3>
    <p>Напишите нам:</p>
    <div class="form-sm__descr description">Представьтесь, пожалуйста:</div>
    <form action="/" class="form">
        <div class="form-group">
            <input type="text" class="form__input" placeholder="Ваше имя">
        </div>
        <div class="form-group">
            <textarea class="form__textarea" name="help" placeholder="Ваше сообщение"></textarea>
        </div>
        <div class="form__btn">
            <button type="submit" class="btn btn_md"><span>отправить</span></button>
        </div>
    </form>
    <div class="form-sm__btn">
        <button type="button" class="btn-close js-btn-close"></button>
    </div>
</div>
