<div class="form-main">
        <h3 class="form-main__title title title_m">Спасибо, что обратились в наш сервис. <br>Оставьте свои данные, и наш менеджер свяжется с вами в ближайшее время</h3>
        <form action="/" class="form form_main">
            <div class="form-group">
                <input type="text" class="form__input" placeholder="Ваше имя">
            </div>
            <div class="form-group">
                <input type="text" class="form__input" placeholder="Контактный телефон">
            </div>
            <div class="form-group">
                <textarea class="form__textarea" name="help" placeholder="Ваши коментарии"></textarea>
            </div>
            <div class="form__btn">
                <button type="submit" class="btn btn_md btn_green"><span>отправить</span></button>
            </div>
        </form>
        {# <div class="form-sm__btn">
            <button type="button" class="btn-close btn-close_l" data-modal-close></button>
        </div> #}
    </div>
    