<div class="subscription" data-modal="subscription">
	<div class="modal" data-modal-container>
        <div class="modal__inner">
			<h3 class="modal__title title title_m">подписка на новости<br>и специальные предложения</h3>
			<form action="/" class="form">
				<div class="form-group">
					<input type="text" class="form__input" placeholder="e-mail">
				</div>
				<div class="form__btn">
					<button type="submit" class="btn btn_md btn_green"><span>отправить</span></button>
				</div>
			</form>
			<div class="modal__confirm confirm">
					Нажимая кнопку «Подписаться», я подтверждаю свою дееспособность и даю согласие 
					<a href="#" class="confirm__link">по установленной форме </a> 
					на обработку своих персональных данных
					<a href="#" class="confirm__link confirm__link_block">Политика защиты и обработки персональных данных</a>
			</div>
			<div class="modal__btn">
				<button type="button" class="btn-close btn-close_brown" data-modal-close></button>
			</div>
        </div>
      </div>
</div>

<div class="person" data-modal="person">
	<div class="modal" data-modal-container>
		<div class="modal__inner">
			<h3 class="modal__title title title_m">регистрация</h3>
			<form action="/" class="form">
				<div class="form-group">
					<input type="text" class="form__input" placeholder="Имя">
				</div>
				<div class="form-group">
					<input type="text" class="form__input" placeholder="Фамилия">
				</div>
				<div class="form-group">
					<input type="text" class="form__input" placeholder="Отчество">
				</div>
				<div class="form__row">
					<div class="form__col">
						<div class="form-group">
							<input type="text" class="form__input" placeholder="+ 7 921 882-45-25">
						</div>
					</div>
					<div class="form__col-md">
						<div class="form-group">
							<input type="text" class="form__input" placeholder="e-mail">
						</div>
					</div>
					<div class="form__col">
						<div class="form-group">
							<input type="text" class="form__input" placeholder="Дата рождения">
						</div>
					</div>
					<div class="form__col-md">
						<div class="modal__check-wrap">
							<div class="modal__check ">
								<label class="check">
									<span class="check__text">Мужской</span>
									<input type="checkbox">
									<span class="check__checkmark"></span>
								</label>
							</div>
							<div class="modal__check ">
								<label class="check">
									<span class="check__text">Женский</span>
									<input type="checkbox">
									<span class="check__checkmark"></span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="form__btn">
					<button type="submit" class="btn btn_md btn_green"><span>сохранить</span></button>
				</div>
			</form>
		</div>
	</div>
</div>