<div class="hero">
    <div class="hero__slider hero-slider js-hero-slider">
        {% for slide in [
            {
                title: 'ПРАЗДНИЧНОЕ  ПРЕДЛОЖЕНИЕ:“НЕДЕЛЯ  ДЛЯ  ДВОИХ”',
                text: 'РЕКЛАМНЫЙ ТЕКСТ 
                РЕКЛАМНЫЙ ТЕКСТ ТЕКСТ 
                РЕКЛАМНЫЙ  ТЕКСТИК 
                РЕКЛАМНЫЙ ТЕКСТ ТЕКСТ   
                РЕКЛАМНЫЙ  ТЕКСТИК',
                img: ''
            },
            {
                title: 'ПРАЗДНИЧНОЕ  ПРЕДЛОЖЕНИЕ:“НЕДЕЛЯ  ДЛЯ  ДВОИХ”',
                text: 'РЕКЛАМНЫЙ ТЕКСТ 
                РЕКЛАМНЫЙ ТЕКСТ ТЕКСТ 
                РЕКЛАМНЫЙ  ТЕКСТИК 
                РЕКЛАМНЫЙ ТЕКСТ ТЕКСТ   
                РЕКЛАМНЫЙ  ТЕКСТИК',
                img: ''
            },
            {
                title: 'ПРАЗДНИЧНОЕ  ПРЕДЛОЖЕНИЕ:“НЕДЕЛЯ  ДЛЯ  ДВОИХ”',
                text: 'РЕКЛАМНЫЙ ТЕКСТ 
                РЕКЛАМНЫЙ ТЕКСТ ТЕКСТ 
                РЕКЛАМНЫЙ  ТЕКСТИК 
                РЕКЛАМНЫЙ ТЕКСТ ТЕКСТ   
                РЕКЛАМНЫЙ  ТЕКСТИК',
                img: ''
            }
        ] %}
            <div class="hero-slider__slide">
                <h2 class="hero-slider__title">{{ slide.title }}</h2>
                <div class="hero-slider__content">
                    <p>
                        {{ slide.text }}
                    </p>
                </div>
                <div class="hero-slider__btn">
                    <a href="#" class="btn btn_pink"></a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>