{% set info =
	{
		title: 'МЕНЮ на',
		titleDate: '30 января - 5 февраля',
		subtitle: 'Доставка возможна с 30 января по 5 февраля – вы сами выбираете время',
		img: 'menu-slide1.jpg',
		homeMenu: [
			'филе индейки с тыквой и ананасом'
		],
		chefMenu: [
			'филе индейки с тыквой и ананасом'
		],
		lightMenu: [
			'филе индейки с тыквой и ананасом'
		]
	}
%}
<div class="menu">
    <div class="menu__inner inner-lg js-menu-slider-wrap">
        <div class="menu__prev-arrow js-menu-prev">
            {{ mixins.icon('arrow-left') }}
        </div>
        <div class="menu__next-arrow js-menu-next">
            {{ mixins.icon('arrow-right') }}
		</div>
		<div class="menu__slider-wrap">
			<div class="menu-slider__top">
					<div class="menu-slider__text">
						<div class="menu-slider__title">{{info.title}} <span>{{info.titleDate}}</span></div>
						<div class="menu-slider__subtitle">{{info.subtitle}}</div>
					</div>
					<div class="menu-slider__btn"><a href="#" data-modal-control="modalform" class="btn btn_green btn_xl"><span>быстрый заказ</span></a></div>
				</div>
			<div class="menu__slider menu-slider js-menu-slider">
				{% for slide in [
					{
						title: 'МЕНЮ на',
						titleDate: '30 января - 5 февраля',
						subtitle: 'Доставка возможна с 30 января по 5 февраля – вы сами выбираете время',
						img: 'menu-slide1.jpg',
						chefMenu: [
							'филе индейки с тыквой и ананасом'
						]
					},
					{
						title: 'МЕНЮ на',
						titleDate: '30 января - 5 февраля',
						subtitle: 'Доставка возможна с 30 января по 5 февраля – вы сами выбираете время',
						img: 'menu-slide1.jpg',
						lightMenu: [
						'филе индейки с тыквой и ананасом'
						]
					},
					{
						title: 'МЕНЮ на',
						titleDate: '30 января - 5 февраля',
						subtitle: 'Доставка возможна с 30 января по 5 февраля – вы сами выбираете время',
						img: 'menu-slide1.jpg',
						homeMenu: [
							'филе индейки с тыквой и ананасом'
						]
					}
				] %}
					<div class="menu-slider__slide">
						<div class="menu-slider__slide-wrap" style="background-image: url(./img/{{slide.img}})">
	
						</div>
					</div>
				{% endfor %}
			</div>
				<div class="menu-slider__bottom">
					<ul class="menu-slider__list menu-list js-menu-slider-nav">
						<li class="menu-list__item menu-list__item_green">
							<a href="#" class="menu-list__link js-menu-list-item"><span>Домашнее меню{{ mixins.icon('arrow-right') }}</span></a>
							<div class="menu-list__ingredients-wrap js-menu-list-target-wrap">
								<ul class="menu-list__ingredients menu-ingredients">
									{% for item in info.homeMenu %}
										<li class="menu-ingredients__item"><a href="#" class="menu-ingredients__link">{{ item }}</a></li>
									{% endfor %}
								</ul>
							</div>
						</li>
						<li class="menu-list__item menu-list__item_orange">
							<a href="#" class="menu-list__link js-menu-list-item"><span>Шеф-меню{{ mixins.icon('arrow-right') }}</span></a>
							<div class="menu-list__ingredients-wrap js-menu-list-target-wrap">
								<ul class="menu-list__ingredients menu-ingredients">
									{% for item in info.chefMenu %}
										<li class="menu-ingredients__item"><a href="#" class="menu-ingredients__link">{{ item }}</a></li>
									{% endfor %}
								</ul>
							</div>
						</li>
						<li class="menu-list__item menu-list__item_pink">
							<a href="#" class="menu-list__link js-menu-list-item"><span>Легкое меню{{ mixins.icon('arrow-right') }}</span></a>
							<div class="menu-list__ingredients-wrap js-menu-list-target-wrap">
								<ul class="menu-list__ingredients menu-ingredients">
									{% for item in info.lightMenu %}
										<li class="menu-ingredients__item"><a href="#" class="menu-ingredients__link">{{ item }}</a></li>
									{% endfor %}
								</ul>
							</div>
						</li>
					</ul>
				</div>
		</div>
		<div class="menu-slider__btn_mob">
			<a href="#" data-modal-control="modalform" class="btn btn_green btn_xl"><span>быстрый заказ</span></a>
		</div>		
    </div>
</div>