{% macro icon(i) %}
<svg class="icon icon-{{i}}"><use xlink:href="img/sprite.svg#icon-{{i}}"></use></svg>
{% endmacro %}

{% macro breadcrumbs(props) %}
<!-- begin breadcrumbs -->
<ul class="breadcrumbs{% if props.class %}{{ props.class }}{% endif %}">
	{% for item in props.list %}
		{% if loop.last %}
		<li class="breadcrumbs__item">
			<span>{{ item }}</span>
		</li>
		{% else %}
		<li class="breadcrumbs__item">
			<a href="#">{{ item }}</a>
		</li>
		{% endif %}
	{% endfor %}
</ul>
<!-- end breadcrumbs -->
{% endmacro %}

{% macro checkbox(props) %}
<!-- begin input -->
<label class="{% if props.radio %}radio{% else %}checkbox{% endif %}{% if props.class %} {{ props.class }}{% endif %}">
	<input type="{% if props.radio %}radio{% else %}checkbox{% endif %}" name="{{ props.name or 'checkbox' }}"{% if props.checked %} checked{% endif %}>
	<span class="{% if props.radio %}radio{% else %}checkbox{% endif %}__text">{{ props.text or 'checkbox' }}</span>
</label>
<!-- end input -->
{% endmacro %}

{% macro dishCard(props) %}
<div class="main-dish">
		<a href="#" class="main-dish__link">
			<div class="main-dish__inner">
				<div class="main-dish__img" style="background-image: url(./img/{{props.img}})"></div>
				<h3 class="main-dish__title">{{props.title}}</h3>
				<div class="main-dish__specification">
				{% for spec in [
					{
						icon: 'spec1',
						text: '250 гр'
					},
					{
						icon: 'spec2',
						text: '35 мин'
					},
					{
						icon: 'spec3',
						text: '165 калл',
						aside: '/100гр'
					}
					] %}
					<div class="specification">
						<div class="specification__icon" style="background-image: url(./img/{{spec.icon}}.png)"></div>
						<div class="specification__text">
							<div class="specification__main">{{spec.text}}</div>
							{% if spec.aside %}
							<div class="specification__aside">{{spec.aside}}</div>
							{% endif %}
						</div>
					</div>
				{% endfor %}
				</div>
			</div>
		</a>
		<div class="main-dish__check ">
			<label class="check">
				<input type="checkbox">
				<span class="check__checkmark"></span>
			</label>
		</div>
	</div>
{% endmacro %}

{# OFFER #}
{% macro offer(props) %}
	<div class="offer{% if props.class %} {{props.class}}{% endif %}">
		<div class="offer__img">
			<img src="./img/{{props.img}}" alt="">
		</div>
		<div class="offer__content">
			{% if props.link %}
			<a href="#" class="offer__link">{{props.link}}</a>
			{% endif %}
			<div class="offer__date title-s">{{props.date}}</div>
			<h3 class="offer__title title-s">{{props.title | safe}}</h3>
			<p>{{props.text}}</p>
			{% if props.btn %}
			<div class="offer__btn">
				<a href="#" class="btn btn_pink"><span>{{props.btn}}</span></a>
			</div>
			{% endif %}
		</div>
	</div>
{% endmacro %}
{# OFFER #}

{# MENU #}
{% macro aboutOptions(props) %}
<div class="options">
	<div class="options__inner inner">
		<ul class="options__list">
			<li class="options__item title-s{% if props.first %} is-active{% endif %}">
				<a href="#">наша команда</a>
			</li>
			<li class="options__item bg-powder-dark title-s{% if props.second %} is-active{% endif %}">
				<a href="#">Поставщики</a>
			</li>
			<li class="options__item title-s{% if props.third %} is-active{% endif %}">
				<a href="#">Вакансии</a>
			</li>
			<li class="options__item bg-powder-dark title-s{% if props.fourth %} is-active{% endif %}">
				<a href="#">Контакты</a>
			</li>
		</ul>
	</div>
</div>
{% endmacro %}
{# MENU #}

{# FAQ #}
{% macro faqOptions(props) %}
<div class="options">
	<div class="options__inner inner">
		<ul class="options__list">
			<li class="options__item title-s{% if props.first %} is-active{% endif %}">
				<a href="#">доставка</a>
			</li>
			<li class="options__item bg-powder-dark title-s{% if props.second %} is-active{% endif %}">
				<a href="#">оплата и цены</a>
			</li>
			<li class="options__item title-s{% if props.third %} is-active{% endif %}">
				<a href="#">подписка</a>
			</li>
			<li class="options__item bg-powder-dark title-s{% if props.fourth %} is-active{% endif %}">
				<a href="#">баллы</a>
			</li>
		</ul>
	</div>
</div>
{% endmacro %}
{# FAQ #}
