{% macro icon(i) %}
<svg class="icon icon-{{i}}"><use xlink:href="img/sprite.svg#icon-{{i}}"></use></svg>
{% endmacro %}

{% macro breadcrumbs(props) %}
<!-- begin breadcrumbs -->
<ul class="breadcrumbs{% if props.class %}{{ props.class }}{% endif %}">
	{% for item in props.list %}
		{% if loop.last %}
		<li class="breadcrumbs__item">
			<span>{{ item }}</span>
		</li>
		{% else %}
		<li class="breadcrumbs__item">
			<a href="#">{{ item }}</a>
		</li>
		{% endif %}
	{% endfor %}
</ul>
<!-- end breadcrumbs -->
{% endmacro %}

{% macro checkbox(props) %}
<!-- begin input -->
<label class="{% if props.radio %}radio{% else %}checkbox{% endif %}{% if props.class %} {{ props.class }}{% endif %}">
	<input type="{% if props.radio %}radio{% else %}checkbox{% endif %}" name="{{ props.name or 'checkbox' }}"{% if props.checked %} checked{% endif %}>
	<span class="{% if props.radio %}radio{% else %}checkbox{% endif %}__text">{{ props.text or 'checkbox' }}</span>
</label>
<!-- end input -->
{% endmacro %}

{% macro dishCard(props) %}
<div class="main-dish">
	<a href="#" class="main-dish__link">
		<div class="main-dish__inner">
			<div class="main-dish__wrap">
				<div class="main-dish__img" style="background-image: url(./img/{{props.img}})"></div>
				<h3 class="main-dish__title">{{props.title}}</h3>
			</div>
			<div class="main-dish__wrap-bot">
				<div class="main-dish__specification">
				{% for spec in props.specification %}
					<div class="specification">
						<div class="specification__icon" style="background-image: url(./img/{{spec.icon}}.png)"></div>
						<div class="specification__text">
							<div class="specification__main">{{spec.text}}</div>
							{% if spec.aside %}
							<div class="specification__aside">{{spec.aside}}</div>
							{% endif %}
						</div>
					</div>
				{% endfor %}
				</div>
				{% if props.aside %}
				<div class="main-dish__aside"><span>{{props.aside}}</span> руб.</div>
				{% endif %}
			</div>
		</div>
	</a>
	<div class="main-dish__check ">
		<label class="check">
			<input type="checkbox">
			<span class="check__checkmark"></span>
		</label>
	</div>
</div>
{% endmacro %}

{# OFFER #}
{% macro offer(props) %}
	<div class="offer{% if props.class %} {{props.class}}{% endif %}">
		<div class="offer__img">
			<img src="./img/{{props.img}}" alt="">
		</div>
		<div class="offer__content">
			{% if props.link %}
			<a href="#" class="offer__link">{{props.link}}</a>
			{% endif %}
			<div class="offer__date title-s">{{props.date}}</div>
			<h3 class="offer__title title-s">{{props.title | safe}}</h3>
			<p>{{props.text}}</p>
			{% if props.btn %}
			<div class="offer__btn">
				<a href="#" class="btn btn_pink"><span>{{props.btn}}</span></a>
			</div>
			{% endif %}
		</div>
	</div>
{% endmacro %}
{# OFFER #}

{# MENU #}
{% macro aboutOptions(props) %}
<div class="options">
	<div class="options__inner inner">
		<ul class="options__list">
			<li class="options__item title-s{% if props.first %} is-active{% endif %}">
				<a href="#">наша команда</a>
			</li>
			<li class="options__item bg-powder-dark title-s{% if props.second %} is-active{% endif %}">
				<a href="#">Поставщики</a>
			</li>
			<li class="options__item title-s{% if props.third %} is-active{% endif %}">
				<a href="#">Вакансии</a>
			</li>
			<li class="options__item bg-powder-dark title-s{% if props.fourth %} is-active{% endif %}">
				<a href="#">Контакты</a>
			</li>
		</ul>
	</div>
</div>
{% endmacro %}
{# MENU #}

{# FAQ #}
{% macro faqOptions(props) %}
<div class="options">
	<div class="options__inner inner">
		<ul class="options__list">
			<li class="options__item title-s{% if props.first %} is-active{% endif %}">
				<a href="#">доставка</a>
			</li>
			<li class="options__item bg-powder-dark title-s{% if props.second %} is-active{% endif %}">
				<a href="#">оплата и цены</a>
			</li>
			<li class="options__item title-s{% if props.third %} is-active{% endif %}">
				<a href="#">подписка</a>
			</li>
			<li class="options__item bg-powder-dark title-s{% if props.fourth %} is-active{% endif %}">
				<a href="#">баллы</a>
			</li>
		</ul>
	</div>
</div>
{% endmacro %}
{# FAQ #}

{# DELIVERY #}
{% macro deliveryOptions(props) %}
<div class="options options_delivery">
	<div class="options__inner inner">
		<ul class="options__list">
			<li class="options__item bg-powder-dark title-s{% if props.first %} is-active{% endif %}">
				<a href="#">москва</a>
			</li>
			<li class="options__item title-s{% if props.second %} is-active{% endif %}">
				<a href="#">санкт-петербург</a>
			</li>
			<li class="options__item bg-powder-dark title-s{% if props.third %} is-active{% endif %}">
				<a href="#">выбор</a>
			</li>
		</ul>
	</div>
</div>
{% endmacro %}
{# DELIVERY #}

{# PROPOSAL #}
{% macro proposalTop(props) %}
<div class="proposal-top">
	<h2 class="proposal-top__title title">{{props.title | safe}}</h2>
	<div class="proposal-top__footer">
		<h3 class="proposal-top__subtitle title-s">{{props.subtitle}}</h3>
		{% if props.btn %}
		<div class="proposal-top__btn">
			<a href="#" class="btn btn_green btn_xl"><span>{{props.btn}}</span></a>
		</div>
		{% endif %}
	</div>
</div>
{% endmacro %}
{# PROPOSAL #}

{# BLOG #}
{% macro blogItem(props) %}
<a href="#" class="blog-item js-gallery-item{% if props.vertical %} blog-item_vertical{% endif %}{% if props.class %} {{props.class}}{% endif %}" style="background-image: url(./img/{{props.img}})">
	<div class="blog-item__content">
		<div class="blog-item__link">{{props.link}}</div>
		<div class="blog-item__date">{{props.date}}</div>
		<h3 class="blog-item__title title-xs">{{props.title}}</h3>
	</div>
</a>
{% endmacro %}
{# BLOG #}

{# RATING #}
{% macro ratingItem(props) %}
<div class="rating-item">
	<div class="rating-item__inner">
		<div class="rating-item__img" style="background-image: url(./img/{{props.img}})">
			<div class="rating-item__mood-wrap">
				<label class="shop-good__mood check check_icon">
					<input type="radio" name="{% if props.radioName %}{{props.radioName or 'rating'}}{% endif %}" checked>
					{{ icon('good') }}
				</label>
				<label class="shop-good__mood check">
					<input type="radio" name="{% if props.radioName %}{{props.radioName or 'rating'}}{% endif %}">
					{{ icon('middle') }}
				</label>
				<label class="shop-good__mood check">
					<input type="radio" name="{% if props.radioName %}{{props.radioName or 'rating'}}{% endif %}">
					{{ icon('bad') }}
				</label>
			</div>
		</div>
		<div class="rating-item__content">
			<a href="#" class="rating-item__title title-s">{{props.title}}</a>
			<div class="rating-item__subtitle">{{props.subtitle}}</div>
		</div>
	</div>
</div>
{% endmacro %}

{% macro ratingEmpty(props) %}
<div class="rating-item rating-item_empty">
	<div class="rating-item__inner">
		<h3 class="rating-item__title title-s">{{props.title}}</h3>
		<div class="rating-item__icon" style="background-image: url(./img/ratingTruck.png)"></div>
		<div class="rating-item__mood-wrap">
			<label class="shop-good__mood check check_icon">
				<input type="radio" name="rating-1">
				{{ icon('good') }}
			</label>
			<label class="shop-good__mood check">
				<input type="radio" name="rating-1">
				{{ icon('middle') }}
			</label>
			<label class="shop-good__mood check">
				<input type="radio" name="rating-1" checked>
				{{ icon('bad') }}
			</label>
		</div>
		</div>
	</div>
</div>
{% endmacro %}
{# RATING #}


{% macro choose(props) %}
  <div class="choose js-choose{% if props.class %} choose_{{ props.class }}{% endif %}" data-max-number="20">
    <button class="choose__minus js-choose-minus" type="button">-</button>
    <input type="text" align="center" class="choose__input" value="1" readonly>
    <button class="choose__plus js-choose-plus" type="button">+</button>
  </div>
{% endmacro %}