{% import "partials/_mixins.html" as mixins %}
{% macro mob_block(props) %}
<div class="mob-menu js-mob-menu">
	<ul class="mob-menu__list">
		<li class="mob-menu__item is-active"><a href="#" class="mob-menu__link">Главная</a></li>
		<li class="mob-menu__item mob-menu__item_submenu">
			<a href="#" class="mob-menu__link">меню</a>
			<ul class="mob-menu__submenu">
				<li class="mob-menu__submenu-item"><a href="#" class="mob-menu__submenu-link">домашнее меню</a></li>
				<li class="mob-menu__submenu-item"><a href="#" class="mob-menu__submenu-link">шеф-меню</a></li>
				<li class="mob-menu__submenu-item"><a href="#" class="mob-menu__submenu-link">легкое меню</a></li>
				<li class="mob-menu__submenu-item"><a href="#" class="mob-menu__submenu-link">блюда на выбор</a></li>
			</ul>
		</li>
		<li class="mob-menu__item"><a href="#" class="mob-menu__link">лавка</a></li>
		<li class="mob-menu__item"><a href="#" class="mob-menu__link">акции</a></li>
		<li class="mob-menu__item"><a href="#" class="mob-menu__link">о сервисе</a></li>
	</ul>
	<div class="mob-menu__contacts">
		<div class="mob-menu__contacts-wrap">
			<div class="mob-menu__arr" style="background-image: url(./img/arrow-city.png)"></div>
			<div class="mob-menu__city">Санкт-Петербург</div>
		</div>
		<div class="mob-menu__phone"><a href="tel:+78129991929">+7 812 <span>999 1929</span></a></div>
	</div>
	{% if props.login %}
	<div class="account-wrap account-wrap_bg">
		<a href="#" class="account">
			<div class="account__icon">
				{{ mixins.icon('user') }}
			</div>
			<div class="account__text">Добрый день, Альбина!</div>
			<div class="account__points">
				<div class="account__points-number">2500</div>
				<div class="account__points-text">баллов</div>
			</div>
		</a>
	</div>
{% elseif props.anonymous %}
	<div class="account-wrap account-wrap_bg">
		<a href="#" class="account">
			<div class="account__icon">
				{{ mixins.icon('user') }}
			</div>
			<div class="account__points">
				<div class="account__points-number">2500</div>
				<div class="account__points-text">баллов</div>
			</div>
		</a>
	</div>
{% else %}
	<div class="mob-menu__buttons">
		<a href="#" class="btn btn_pink btn_sm"><span>войти</span></a>
		<a href="#" class="btn btn_green btn_sm"><span>зарегистрироваться</span></a>
	</div>
{% endif %}
	<div class="mob-menu__socials">
		<a href="#" class="mob-menu__socials-icon">{{mixins.icon('instagram-m')}}</a>
		<a href="#" class="mob-menu__socials-icon">{{mixins.icon('vk-m')}}</a>
		<a href="#" class="mob-menu__socials-icon">{{mixins.icon('facebook-m')}}</a>
	</div>
	<div class="mob-menu__aside">
		<a href="#">доставка и оплата</a>
		<a href="#">частые вопросы</a>
		<a href="#">контакты</a>
	</div>
</div>
{% endmacro %}