<section class="review">
        <div class="review__inner inner">
            <div class="review__header">
                <h2 class="review__title title">что говорят:</h2>
                <a href="#" class="review__btn btn btn_l btn_blue">все отзывы</a>
            </div>
            <ul class="review__list">
                {% for item in range(0, 4) %}
                <div class="review__item-wrap">
                    <li class="review-item">
                        <a href="#" class="review-item__img-wrap">
                            <img src="img/review.png" alt="dish name">
                        </a>
                        <div class="review-item__text">
                            <a href="#" class="review-item__link review-item__link_name">Ирина Паноморенко</a>
                            <a href="#" class="review-item__link review-item__link_insta">@iruna_panomarenko </a>
                            <a href="#" class="review-item__link">«Рецепты классные, все очень удобно, понятно и быстро готовить...»</a>
                        </div>
                    </li>
                </div>
                {% endfor %}
            </ul>
        </div>
    </section>