{% import "partials/_header.html" as header %}
{% import "partials/_footer.html" as footer %}
{% import "partials/_hero.html" as hero %}
{% import "partials/_mixins.html" as mixins %}
{% import "partials/_mob-menu.html" as mob_menu %}
{% import "partials/_card-item.html" as card_item %}
{% import "partials/_dishes-slider.html" as dishes_slider %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="css/app.css">
    {# {% include "../partials/_media-tags.html" %} #}
  </head>
  <body>

    <!-- BEGIN content -->
    <div class="out">
      {% block content %}{% endblock %}
    </div>
    <!-- END content -->
    <div class="thanks" data-modal="modalform">
      <div class="modal__container" data-modal-container>
        <div class="modal__inner">	
		{% include "partials/_form-main.html"%}
        </div>
      </div>
	</div>
    <!-- BEGIN scripts -->
    <script type="text/javascript" src="js/app.js"></script>
    <!-- END scripts -->

  </body>
</html>
