.about
	&__title
		padding-top: 45px
		+sm
			padding-top: 30px
	&__options
		padding-top: 30px
	&__main-wrap
		padding-top: 54px
		+sm
			padding-top: 30px
		p
			&:not(:last-child)
				padding-bottom: 10px
	&__gallery
		padding: 40px 0
		+sm
			padding: 30px 0

.about-item
	padding-top: 40px
	+sm
		padding-top: 30px
	&__text
		padding-top: 35px
		+sm
			padding-top: 30px
		+ms
			padding-top: 30px

.gallery
	// display: flex
	margin: -4px
	&__item
		width: 25%
		height: 360px
		padding: 4px
		+md
			height: 270px
		+sm
			padding: 1px
			height: 100px
		img
			width: 100%
			height: 100%
			object-fit: cover
			object-position: center
		&_19
			width: 19%
		&_20
			width: 20%
		&_21
			width: 21%
		&_24
			width: 24%
		&_26
			width: 26%
		&_29
			width: 29%
		&_35
			width: 35%

.suppliers
	&__title
		padding-bottom: 35px
	&__companies
		margin-top: 45px
		padding: 40px 0
	&__list
		margin: -18px -13px
		display: flex
		flex-wrap: wrap
		+sm
			margin: -10px -6px
	&__item
		margin: 18px 0
		padding: 0 13px
		+cover
		width: 14.28%
		+sm
			margin: 10px 0
			padding: 0 6px
			width: 20%
		+xs
			width: 25%
		+ms
			width: 33.3%
		img
			margin: 0 auto
			max-width: 100%
			display: block
	&__text
		padding-top: 40px

.vacancies
	&__item
		padding-top: 50px
	&__join
		padding: 60px 0
		font-weight: 700
		a
			text-decoration: underline
			font-size: 22px
			font-weight: 400
			color: #1761b4
	&__photo
		padding-bottom: 40px
.vacancies-item
	&__title
		padding: 13px 20px
		color: $brown
	p
		padding-top: 20px
		font-size: 12px
	&__params
		padding-top: 10px
		font-weight: 700

.contacts
	&__main
		padding-top: 75px
		display: flex
		+sm
			padding-top: 30px
			flex-direction: column
	&__left
		width: 35%
		padding-right: 38px
		+sm
			padding-right: 0
			width: 100%
	&__right
		width: 65%
		+sm
			width: 100%
	&__map
		height: 366px
		+sm
			height: 200px
	&__item
		&:not(:first-child)
			padding-top: 75px
			+sm
				padding-top: 30px
	&__form
		padding: 40px 0
		margin: 70px 0 40px
		&-title
			color: $brown
		.form
			padding-top: 20px
		&-btn
			padding-top: 20px

.contacts-item
	&__title
		color: $brown
		padding: 13px 20px
	&__list
		padding-top: 20px
	&__item
		font-weight: 700
		&:not(:first-child)
			padding-top: 4px
	&__link
		&_underline
			text-decoration: underline
