.blog
	padding-top: 37px
	&__title
		span
			display: block
	&__main
		padding-top: 20px
	&__grid
		display: flex
		justify-content: center
		flex-wrap: wrap
		padding-top: 40px

.blog-item
	max-width: 516px
	height: 100%
	+cover
	padding-left: 208px
	&.blog-item_vertical
		max-width: 372px
		padding-left: 0
		padding-bottom: 23%
	&__content
		background-color: rgba($white, .6)
		padding: 25px 30px 38%
		font-size: 20px
		font-weight: 700
		color: $brown
		transition: background-color .5s, color .5s
		+hover
			background-color: rgba(#7d6a5b, .6)
			color: $white
			.blog-item__link
				color: $white
		.blog-item_vertical &
			padding: 25px 40px
	&__link
		text-decoration: underline
		color: $green
		transition: color .5s
	&__date
		padding-top: 20px
	&__title
		min-height: 106px
		padding-top: 10px
		line-height: 1.2
		.blog-item_vertical &
			padding-top: 20px
	&_first
		margin-right: 37px
	&_second
		margin-top: 50px
	&_third
		margin-right: 61px
		margin-left: 50px
		margin-top: -14px
	&_fourth
		margin-top: 113px
