.btn
	padding: 12px 28px
	+roboto 
	color: $white
	+f(18px,500,1)
	text-transform: uppercase
	text-align: center
	text-decoration: none
	vertical-align: top
	display: inline-block
	border-radius: 20.5px
	background-color: $orange
	position: relative
	overflow: hidden
	transition: background-color .3s, color .3s
	&:before
		content: ''
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		background-color: $black
		opacity: 0
		transition: opacity .3s
	span
		position: relative
		z-index: 2
		position: relative
	+hover
		&:before
			opacity: 0.2
	+lg
		padding: 10px 22px
		font-size: 14px
	&_sm
		min-width: 148px
		+lg
			min-width: 120px
	&_md
		min-width: 170px
		+lg
			min-width: 166px
	&_l
		min-width: 200px
		+lg
			min-width: 170px
	&_blue
		background-color: $blue
	&_pink
		background-color: $pink
	&_green
		background-color: $green
	&_xl
		font-size: 32px
		padding: 18px 45px
		border-radius: 34px
		+xxl
			font-size: 26px
		+lg
			font-size: 20px
		+md
			min-width: 270px
			font-size: 24px
			padding: 15px 25px
		+ms
			min-width: auto
			font-size: 20px

.btn-close
    display: inline-block
    width: 28px
    height: 28px
    border-radius: 50%
    border: 1px solid $white
    background-color: transparent
    outline: none
    +pseudo
    &:before, &:after
        width: 18px
        height: 2px
        background-color: $white
        color: $white
        top: 50%
        left: 50%
    &:before
        transform: translate(-50%, -50%) rotate(45deg)
    &:after
        transform: translate(-50%, -50%) rotate(-45deg)
    // &_l
    //     width: 40px
    //     height: 40px
    //     border-color: $brown
    //     &:before, &:after
    //         background-color: $brown
    //         color: $brown
    //         width: 25px
