.card
	padding-bottom: 48px
	&__inner
	&__img
		+cover
		height: 0
		padding-bottom: 57.5%
		&-bg.bg_pink
			background-color: $pinkLight
		&-bg.bg_pow
			background-color: $powderDark
		&-bg.bg_green
			background-color: $greenLight
	&__description
		display: flex
		&-bg.bg_pink
			background-color: rgba($pinkLight, .3)
		&-bg.bg_pow
			background-color: rgba($powderDark, .3)
		&-bg.bg_green
			background-color: rgba($greenLight, .3)
	&__left
		+flex-size(60.5%)
		+md
			+flex-size(100%)
	&__right
		+flex-size(39.5%)
		+md
			+flex-size(100%)
		&_single
			display: flex
			align-items: center
			justify-content: flex-end
			width: 100%
	&__title-wrap
		padding: 40px 20px 30px 0
	&__name
		padding-top: 14px
		&.title
			color: $black
			font-weight: 400
			line-height: 1.2
			letter-spacing: normal
	&__specifications
		background-color: $white
		width: 100%
		height: 100%
		padding: 48px 20px 53px 18px
		display: flex
		flex-wrap: wrap
		// justify-content: space-between
		align-items: flex-start
		+lg
			padding: 30px 20px
	&__specification
		// width: 50%
		&:not(:last-child)
			margin-bottom: 1.8em
		&.specification_wide
			// width: 100%
	&__recipe
		padding: 25px 0 73px
		+md
			flex-direction: column
	&__basket
		justify-content: space-between
		padding-bottom: 24px
		padding-right: 27px
	&__btn
		&_padding
			padding-top: 43px

.specification
	display: flex
	align-items: center
	padding: 0 20px
	&__icon
		width: 35px
		height: 29px
		background-size: contain
		background-repeat: no-repeat
		background-position: 50% 50%
		flex-shrink: 0
		margin-right: 18px
		margin-top: 6px
		.main-dish__specification &
			margin-right: 10px
			width: 35px
			height: 29px
			+lg
				width: 30px
				height: 25px
	.main-dish__specification &
		padding: 7px
		align-items: flex-end
		+lg
			font-size: 12px
			align-items: center
	&__aside
		line-height: 1
		.main-dish__specification &
			font-size: 10px
			text-align: center

.recipe
	display: flex
	&__header
		background-color: $lightGray
		padding: 14px 33px 7px
		.card__right &
			background-color: $grayMid
			// padding: 18px 40px 10px 50px
	&__body
		margin-top: 25px
		display: flex
	&__list
		padding-left: 33px
		min-width: 202px
		font-size: 20px