.card
	padding-bottom: 48px
	&__img
		+cover
		height: 0
		padding-bottom: 57.5%
		&-bg.bg_pink
			background-color: $pinkLight
		&-bg.bg_pow
			background-color: $powderDark
		&-bg.bg_green
			background-color: $greenLight
	&__description
		display: flex
		+md
			flex-direction: column
		&-bg.bg_pink
			background-color: rgba($pinkLight, .3)
		&-bg.bg_pow
			background-color: rgba($powderDark, .3)
		&-bg.bg_green
			background-color: rgba($greenLight, .3)
	&__left
		+flex-size(60.5%)
		+md
			+flex-size(100%)
	&__right
		+flex-size(39.5%)
		+md
			margin-top: 25px
			+flex-size(100%)
		&_single
			display: flex
			align-items: center
			justify-content: flex-end
			width: 100%
			+md
				padding-bottom: 30px
				justify-content: flex-start
			+xs
				justify-content: center
	&__title-wrap
		padding: 40px 20px 30px 0
		+md
			padding: 25px 0 0 0
	&__name
		padding-top: 14px
		&.title
			color: $black
			font-weight: 400
			line-height: 1.2
			letter-spacing: normal
	&__specifications
		background-color: $white
		width: 100%
		height: 100%
		padding: 48px 20px 53px 18px
		display: flex
		flex-wrap: wrap
		align-items: flex-start
		+lg
			padding: 30px 20px
		+sm
			padding: 30px 20px 30px 0
	&__specification
		&:not(:last-child)
			margin-bottom: 1.8em
	&__recipe
		padding: 25px 0 73px
		+md
			padding-bottom: 25px
			flex-direction: column
	&__basket
		justify-content: space-between
		padding-bottom: 24px
		padding-right: 27px
		+md
			margin: 15px 0 0
			padding: 0
	&__btn
		&_padding
			padding-top: 43px

.specification
	display: flex
	align-items: center
	padding: 0 20px
	&__icon
		width: 35px
		height: 29px
		background-size: contain
		background-repeat: no-repeat
		background-position: 50% 50%
		flex-shrink: 0
		margin-right: 18px
		margin-top: 6px
		.main-dish__specification &
			margin-right: 10px
			width: 35px
			height: 29px
			+lg
				width: 30px
				height: 25px
	.main-dish__specification &
		padding: 7px
		align-items: flex-end
		+lg
			font-size: 12px
			align-items: center
	&__aside
		line-height: 1
		.main-dish__specification &
			font-size: 10px
			text-align: center
