.delivery-info
	text-align: center
	padding: 35px 0 32px
	color: $brown
	+md
		padding: 10px 0 36px
	&__inner
		max-width: 1000px
	&__title.title
		color: $green
	&__wrap
		margin: 15px -45px 0
		display: flex
		justify-content: center
		+lg
			margin: 25px -25px 0
		+md
			flex-wrap: wrap
			margin: 25px 0 0
		+sm
			padding: 0 30px
	&__item
		padding: 0 35px
		width: 33.3%
		+lg
			padding: 0 25px
		+md
			width: 100%
			max-width: none
			padding: 0
			&:not(:first-child)
				margin-top: 20px
	&__btn
		text-align: center
		margin-top: 30px
		+md
			.btn
				background-color: $pink


.delivery-item
	text-align: center
	width: 100%
	+md
		display: flex
		justify-content: center
		align-items: center
	+ms
		&.delivery-item_sm
			justify-content: space-between
	&__img
		min-height: 165px
		display: flex
		justify-content: center
		align-items: flex-end
		+md
			min-height: auto
		+sm
			max-width: 166px
			.delivery-item_sm &
				max-width: 87px
				margin-left: 35px
		+ms
			.delivery-item_sm &
				margin-left: 20px
		img
			display: block
			max-width: 100%
	&__text
		margin-top: 27px
		+f(16px, 700)
		+circe
		line-height: 1.2
		span
			text-transform: uppercase
		+md
			margin-left: 20px
			margin-top: 0
			max-width: 300px
		+sm
			max-width: 200px
			.delivery-item_sm &
				margin-left: 50px