.delivery-info
	text-align: center
	padding: 53px 0 32px
	color: $brown
	+md
		padding: 10px 0 36px
	&__inner
		max-width: 1200px
	&__title.title
		color: $green
	&__wrap
		margin: 15px -45px 0
		display: flex
		justify-content: center
		+lg
			margin: 25px -25px 0
		+md
			flex-wrap: wrap
			margin: 25px 0 0
	&__item
		padding: 0 45px
		// max-width: 400px
		width: 33.3%
		+lg
			padding: 0 25px
		+md
			width: 100%
			max-width: none
			padding: 0
			&:not(:first-child)
				margin-top: 20px
	&__btn
		text-align: center
		margin-top: 30px
		a
			min-width: 170px
		+md
			.btn
				background-color: $pink


.delivery-item
	text-align: center
	width: 100%
	&__img
		min-height: 194px
		display: flex
		justify-content: center
		align-items: flex-end
		+md
			min-height: auto
		img
			display: block
			max-width: 100%
	&__text
		margin-top: 27px
		+f(27px, 700)
		+circe
		line-height: 1.2
		+lg
			font-size: 20px
		+ms
			font-size: 16px
		span
			text-transform: uppercase
			display: block
		+md
			margin-left: 30px
			margin-top: 0
			max-width: 300px
		+ms
			max-width: 250px
	+md
		display: flex
		justify-content: center
		align-items: center