.footer
    padding-top: 53px
    background-color: rgba($brown, .1)
    &__inner
    &__top
        display: flex
        justify-content: space-between
        padding-bottom: 40px
        +lg
            padding-bottom: 20px
    &__logo
        // max-width: 156px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        flex-shrink: 0
    &-logo
        font-size: 196px
        +lg
            font-size: 130px
        .icon
            display: block
            max-width: 100%
    &-slogan
        margin-top: 29px
        text-align: center
        font-size: 19px
        +circe
        +lg
            font-size: 16px
    &__menu
        display: flex
        &-wrap
            text-transform: uppercase
            padding-top: 44px
            margin: 0 20px
            display: flex
            +lg
                padding-top: 24px
        &-title
            font-weight: 700
        &-block
            padding: 0 30px
            margin: -13px 0
            +r(1350)
                padding: 0 15px
        &-item
            padding: 13px 0
            transition: color .3s
            +hover
                color: $green
    &__contacts
        text-transform: uppercase
        padding-top: 44px
        flex-shrink: 0
        +lg
            padding-top: 24px
        &-item
            &:not(:first-child)
                margin-top: 50px
            span
                font-size: 32px
                +r(1502)
                    font-size: 24px
                +lg
                    font-size: 20px

    &__bottom
        padding: 19px 0 26px
        background-color: $brown
        &-wrap
            display: flex
            justify-content: space-between
            align-items: center
            flex-wrap: wrap
    &__copyright
        color: $white
    &__social
        display: flex
        align-items: center
        margin: 0 15px
    &__subscribe
        display: block
        color: $white
        text-decoration: none
        text-transform: uppercase
        transition: color .3s
        font-size: 22px
        +hover
            color: $orange
        +lg
            font-size: 17px
        &:not(:first-child)
            margin-left: 41px
            +lg
                margin-left: 20px

.social
    display: flex
    align-items: center
    &__item
        font-size: 35px
        color: $white
        transition: color .3s
        +hover
            color: $orange
        +lg
            font-size: 27px
        &:not(:first-child)
            margin-left: 32px
            +lg
                margin-left: 20px
        svg
            display: block
            max-width: 100%

.stores
    display: flex
    justify-content: space-between
    align-items: center
    &__item
        max-width: 150px
        +lg
            max-width: 100px
        &:not(:first-child)
            margin-left: 60px
            +lg
                margin-left: 30px
        img
            display: block
            max-width: 100%