.footer
	padding-top: 33px
	background-color: rgba($brown, .1)
	&__inner
	&__top
		display: flex
		justify-content: space-between
		padding-bottom: 36px
		color: $brown
		+lg
			padding-bottom: 20px
		+md
			flex-wrap: wrap
			// justify-content: center
	&__logo
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		flex-shrink: 0
		+md
			display: none
	&-logo
		font-size: 147px
		.icon
			display: block
			max-width: 100%
			color: $brown
	&-slogan
		margin-top: 20px
		text-align: center
		font-weight: 700
		+circe
		+lg
			font-size: 16px
	&__menu
		display: flex
		+sm
			display: inline-block
			column-count: 2
			column-gap: 68px
			width: 100%
		+ms
			column-gap: 20px
		&-wrap
			text-transform: uppercase
			padding-top: 30px
			margin: 0 20px
			display: flex
			+md
				width: 100%
				margin: 0
			+sm
				display: block
				margin: 0
		&-title
			font-weight: 700
		&-block
			padding: 0 35px
			margin: -8px 0
			+lg
				padding: 0 15px
			+sm
				margin: 0
				padding: 0
		&-item
			padding: 8px 0
			transition: color .3s
			+hover
				color: $green
			+sm
				padding: 5px 0
	&__contacts
		text-transform: uppercase
		padding-top: 30px
		flex-shrink: 0
		color: $brown
		+md
			display: flex
			font-size: 18px
			padding-top: 40px
		+ms
			flex-wrap: wrap
		&-item
			+ms
				width: 100%
			&:not(:first-child)
				margin-top: 50px
				+md
					margin-top: 0
					margin-left: 50px
				+ms
					margin-left: 0
					margin-top: 20px
			span
				font-size: 32px
				+r(1502)
					font-size: 24px
				+lg
					font-size: 20px
				+md
					font-size: 25px
	&__bottom
		padding: 15px 0 20px
		background-color: $brown
		+md
			padding: 40px 0
		&-wrap
			display: flex
			justify-content: space-between
			align-items: center
			flex-wrap: wrap
			+ms
				justify-content: center
		&_big
			padding-bottom: 140px
	&__copyright
		color: $white
		font-size: 10px
		+md
			display: none
	&__social
		display: flex
		align-items: center
		margin: 0 15px
		+sm
			flex-wrap: wrap
			margin: 0
			justify-content: center
	&__stores
		+r(864)
			margin-top: 35px
	&__agree
		display: none
		+md
			display: block
			width: 100%
			margin-top: 30px
		&-link
			display: block
			text-decoration: underline
			color: $brown
			font-size: 16px

.subscribe
	display: block
	color: $white
	text-decoration: none
	text-transform: uppercase
	transition: color .3s
	font-size: 13px
	+hover
		color: $orange
	+lg
		font-size: 17px
	+md
		font-size: 18px
	+r(497)
		width: 100%
		margin-top: 30px
	&:not(:first-child)
		margin-left: 41px
		+lg
			margin-left: 20px
		+r(497)
			margin-left: 0
			text-align: center
	.header__social &
		+f(12px, 500)
		margin-top: 3px
		letter-spacing: 0.62px
		+lg
			font-size: 12px
			margin-right: 10px

.social
	display: flex
	align-items: center
	&__item
		font-size: 27px
		color: $white
		transition: color .3s
		+hover
			color: $orange
		+md
			font-size: 40px
		&:not(:first-child)
			margin-left: 24px
			// +lg
			// 	margin-left: 20px
		svg
			display: block
			max-width: 100%
		.header__social &
			font-size: 20px
			flex-shrink: 0
			&:not(:first-child)
				margin-left: 19px
				+lg
					margin-left: 10px
			+lg
				font-size: 18px

.stores
	display: flex
	justify-content: space-between
	align-items: center
	margin-right: 4px
	&__item
		max-width: 110px
		+md
			max-width: 160px
		&:not(:first-child)
			margin-left: 35px
		img
			display: block
			max-width: 100%
			width: 100%