.form
	&__row
		display: flex
		flex-wrap: wrap
		align-items: center
		margin: 0 -15px
	&__col
		padding: 0 15px
		+flex-size(40%)
		+sm
			+flex-size(100%)
		&-md
			padding: 0 15px
			+flex-size(60%)
			+sm
				+flex-size(100%)
	&__btn
		margin-top: 10px
		.thanks &
			text-align: left
		.subscription &
			margin-top: 0
			margin-left: 65px
		.form_main &
			margin-top: 35px
		.person &
			margin-top: 40px
			text-align: left
		.enter &
			margin-top: 32px
			text-align: left
	.subscription &
		display: flex
		align-items: center
		
.form-group
	position: relative
	margin-top: 10px
	.subscription &
		max-width: 427px
		width: 100%
		margin-top: 0
	input, textarea
		width: 100%
		+roboto
		+f(15px, 400)
		color: $brown
		padding: 13px 12px
		border-radius: 5px
		+placeholder
			+roboto
			+f(15px, 400)
			color: $brown
			+lg
				font-size: 14px
			+sm
				font-size: 12px
		+lg
			font-size: 14px
			padding: 10px
		+sm
			font-size: 12px
		&:focus
			+placeholder
				font-size: 0
	textarea
		resize: none
		min-height: 100px
		height: 100%
		border: none
	.form_main &
		input, textarea
			color: $black
			+placeholder
				color: $black

.modal
	border: 10px solid $coffee-opa
	padding: 38px 50px 35px
	background-color: $white-opa
	max-width: 840px
	width: 100%
	position: relative
	+lg
		padding: 30px
	+sm
		border: 5px solid $coffee-opa
		padding: 20px
		max-width: 600px
	&__title
		margin-bottom: 16px
		text-align: left
		.enter &
			max-width: 530px
			margin-bottom: 50px
		.subscription &
			margin-bottom: 40px
		span
			color: $green
	&__descr
		margin-top: 10px
	&__btn
		position: absolute
		top: 25px
		right: 25px
		+sm
			top: 5px
			right: 5px
		.subscription &
			color: $brown
	&__confirm
		margin-top: 90px
		text-align: left
		max-width: 600px
	&__check-wrap
		display: flex
		margin-top: 10px
	&__check
		line-height: 46px
		&:not(:first-child)
			margin-left: 26px

.subscription
	.help-block.form-error
		position: absolute
		top: calc(100% + 20px)
		left: 0
.confirm
	font-size: 11px
	&__link
		text-decoration: underline
		&_block
			display: block
.enter
	&__form
		padding-top: 35px
	&__bottom
		text-align: left
		margin-top: 110px
		font-size: 11px
	&__link
		text-decoration: underline


.help-block.form-error
	font-size: 15px
	color: $red