.form-sm
    border: 15px solid $coffee
    padding: 40px 45px
    background-color: $green
    color: $white
    max-width: 416px
    width: 100%
    position: relative
    &__title
        margin-bottom: 30px
    &__descr
        margin-top: 10px
    &__btn
        position: absolute
        top: 25px
        right: 25px