.header
    background-color: $green
    color: $white
    &__inner
        position: relative
        display: flex
    &__left,
    &__right
        width: 50%
        display: flex
    &__left
        padding-right: 100px
    &__right
        padding-left: 100px
        justify-content: flex-end
    &__logo
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        background-color: $white
        width: 200px
        padding: 10px 30px
        img
            display: block
            max-width: 100%
    &__phone
        margin-left: 15px
        display: flex
        align-items: center
        span
            font-size: 30px
    &__city
        height: 100%

.city
    position: relative
    display: flex
    align-items: center
    z-index: 1
    padding-right: 18px
    height: 100%
    &__current
    &__arrow
        font-size: 11px
        margin-left: 20px
        .icon
            display: block
    &__list
        position: absolute
        top: 0
        left: -23px
        right: 0
        padding: 83px 23px 36px
        background-color: rgba($black,.4)
.account
    padding: 25px 27px
    display: flex
    align-items: center
    background-color: $pink
    &__icon
        margin-right: 20px
        font-size: 40px
        .icon
            display: block
    &__text
        width: 310px
        padding-right: 20px
        font-size: 20px
    &__points
        display: flex
        flex-direction: column
        align-items: center
        line-height: 1
        &-number
            font-size: 30px
            font-weight: 700
        &-text
            font-size: 16px