.hero
	overflow: hidden
	+md
		padding-bottom: 50px
		padding-top: 136px
	+ms
		padding-top: 182px
	&__inner
		position: relative
		+md
			padding: 0
	&__prev-arrow,
	&__next-arrow
		position: absolute
		top: 50%
		transform: translateY(-50%)
		color: $white
		z-index: 2
		cursor: pointer
		user-select: none
		border-radius: 50%
		transition: background-color .3s
		+hover
			background-color: rgba($black, .2)
		+md
			display: none
		.icon
			display: block
			font-size: 57px
	&__prev-arrow
		left: 365px
		+r(1760)
			left: 5px
	&__next-arrow
		right: 390px
		+r(1760)
			right: 5px
	&__dot
		width: 10px
		height: 10px
		border-radius: 50%
		background-color: $white
		transition: background-color .3s
		position: relative
		&:before
			content: ''
			position: absolute
			+vcenter
			width: 200%
			height: 200%
		+md
			background-color: $gray
		.slick-initialized li.slick-active &
			background-color: $green
	// .slick-list
	// 	overflow: visible
	// 	+md
	// 		overflow: hidden
	.slick-dots
		position: absolute
		left: 50%
		transform: translateX(-50%)
		bottom: 26px
		display: flex
		justify-content: space-between
		align-items: center
		li
			line-height: 0
			&:not(:first-child)
				margin-left: 18px
		+md
			bottom: -30px

.hero-slider
	white-space: nowrap
	// overflow: hidden
	opacity: 0
	visibility: hidden
	transition: opacity .3s, visibility .3s
	&.slick-initialized
		white-space: normal
		// overflow: visible
		opacity: 1
		visibility: visible
	&__slide
		display: inline-block
		vertical-align: top
	&__bg
		padding: 40px 0 164px
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		+md
			padding: 0 0 230px 0
		+ms
			padding-bottom: 150px
		.hero_small &
			padding: 130px 0 40px
			background-position: 50% 100%
	&__text
		opacity: 0
		visibility: hidden
		transition: opacity .3s, visibility .3s
		+md
			text-align: center
		.slick-active &
			opacity: 1
			visibility: visible
	&__title
		padding: 27px 106px 21px 30%
		background-color: rgba($white, .6)
		max-width: 1032px
		.hero_small &
			max-width: 828px
			padding: 24px 20px 21px 98px
			.title
				font-size: 42px
				line-height: 1.3
		+md
			padding: 36px 20px 23px
		.hero-slider__btn
			display: none
			+md
				display: block
			.btn
				min-width: 195px
	&__content
		padding: 25px 122px 30px 30%
		max-width: 807px
		background-color: rgba($brown, .6)
		font-size: 22px
		font-weight: 500
		color: $white
		+md
			display: none
		.hero_small &
			padding: 0
			max-width: none
			background-color: transparent
			p
				display: none
	&__btn
		margin-top: 30px
		+md
			margin-top: 20px
		.hero_small &
			margin-top: 44px
			margin-left: 100px
			.btn
				min-width: 240px

