.menu
    overflow: hidden
    &__inner
        position: relative
    &__prev-arrow,
    &__next-arrow
        position: absolute
        z-index: 2
        cursor: pointer
        user-select: none
        top: 72px
        border-radius: 50%
        transition: background-color .3s
        +hover
            background-color: rgba($black, .2)
        +lg
            top: 40px
        .icon
            display: block
            font-size: 57px
            +lg
                font-size: 40px
    &__prev-arrow
        left: 71px
    &__next-arrow
        right: 550px
        +xxl
            right: 470px
        +lg
            right: 400px
    .slick-list
        overflow: visible

.menu-slider
    &:before,
    &:after
        content: ''
        position: absolute
        top: 0
        width: 100%
        height: 100%
        background-color: rgba($white, .5)
        z-index: 1
    &:before
        left: 100%
    &:after
        right: 100%
    &__slide
        height: 850px
        background-repeat: no-repeat
        background-position: center
        background-size: cover
        +lg
            height: 700px
        &-wrap
            height: 100%
            display: flex
            flex-direction: column
            justify-content: space-between
            opacity: 0
            visibility: hidden
            transition: opacity .3s, visibility .3s
            .slick-active &
                opacity: 1
                visibility: visible
    &__top
        padding: 51px 43px
        display: flex
        align-items: center
        justify-content: space-between
        background-color: rgba($white, .5)
        line-height: 1.1
        color: $brown
        +lg
            padding: 30px
    &__text
        padding: 0 170px 0 73px
        max-width: 1150px
        width: 100%
        +xxl
            padding-right: 100px
        +lg
            padding-left: 50px
            padding-right: 120px
    &__title
        font-size: 45px
        font-weight: 700
        +circe
        +xxl
            font-size: 37px
        +lg
            font-size: 29px
        span
            font-weight: 900
    &__subtitle
        margin-top: 8px
        font-weight: 500
        font-size: 24px
        +xxl
            font-size: 20px
        +lg
            font-size: 16px
    &__btn
        flex-shrink: 0
    &__list
        
.menu-list
    display: flex
    // align-items: center
    background-color: rgba($black, .35)
    &__item
        width: 33.33%
        position: relative
        color: $white
        transition: background-color .3s
        +hover
            .icon
                background-color: rgba($black, .2)
            .menu-ingredients
                opacity: 1
                visibility: visible
        .icon
            display: block
            margin-left: 35px
            font-size: 55px
            border-radius: 50%
            transition: background-color .3s
            +lg
                font-size: 42px
                margin-left: 20px
            // +xxl
            //     margin-left: 25px
        &_green
            +hover
                background-color: rgba($green, .35)
        &_orange
            +hover
                background-color: rgba($orange, .35)
        &_pink
            +hover
                background-color: rgba($pink, .35)
    &__link
        padding: 38px 30px
        display: flex
        align-items: center
        justify-content: center
        text-transform: uppercase
        font-size: 30px
        font-weight: 700
        +circe
        +xxl
            font-size: 25px
        +lg
            font-size: 18px
            padding: 25px

.menu-ingredients
    position: absolute
    opacity: 0
    visibility: hidden
    transition: opacity .3s, visibility .3s
    bottom: 100%
    width: 100%
    left: 0
    padding: 46px 45px 41px 76px
    background-color: rgba($white, .5)
    max-height: 500px
    overflow: auto
    color: $brown
    font-size: 32px
    font-weight: 700
    text-transform: uppercase
    line-height: 1.1
    scrollbar-color: #c7c7cc #efeff4
    scrollbar-width: thin
    +xxl
        font-size: 26px
        max-height: 450px
    +lg
        font-size: 20px
    &::-webkit-scrollbar 
        width: 6px
        height: 6px
    &::-webkit-scrollbar-track 
        background: #efeff4
    &::-webkit-scrollbar-thumb 
        background: #c7c7cc
    &::-webkit-scrollbar-thumb:hover 
        background: #b1b1b2
    &__item
        transition: color .3s
        &:not(:first-child)
            margin-top: 20px
        .menu-list__item_green &
            +hover
                color: $green
        .menu-list__item_pink &
            +hover
                color: $pink
        .menu-list__item_orange &
            +hover
                color: $orange