.menu
	overflow: hidden
	&__inner
		position: relative
		+sm
			padding: 0
	&__prev-arrow,
	&__next-arrow
		position: absolute
		z-index: 2
		cursor: pointer
		user-select: none
		top: 72px
		border-radius: 50%
		transition: background-color .3s
		+hover
			background-color: rgba($black, .2)
		+lg
			top: 40px
		.icon
			display: block
			font-size: 57px
			+lg
				font-size: 40px
			+xs
				font-size: 30px
		.dishes-menu &
			top: 0px
			color: $brown
	&__prev-arrow
		left: 71px
		+sm
			left: 34px
		+xs
			left: 10px
		.dishes-menu &
			left: 75px
	&__next-arrow
		right: 542px
		+xxl
			right: 470px
		+lg
			right: 400px
		+md
			right: 71px
		+sm
			right: 34px
		+xs
			right: 10px
		.dishes-menu &
			right: 75px
	.slick-list
		overflow: visible

.menu-slider
	white-space: nowrap
	// overflow: hidden
	opacity: 0
	visibility: hidden
	transition: opacity .3s, visibility .3s
	&.slick-initialized
		white-space: normal
		// overflow: visible
		opacity: 1
		visibility: visible
	.dishful &
		white-space: normal
		// overflow: visible
		opacity: 1
		visibility: visible
	&:before,
	&:after
		content: ''
		position: absolute
		top: 0
		width: 100%
		height: 100%
		background-color: rgba($white, .5)
		z-index: 1
		+sm
			display: none
	&:before
		left: 100%
	&:after
		right: 100%
	&__slide
		height: 850px
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		+lg
			height: 700px
		+sm
			height: 580px
		&-wrap
			height: 100%
			display: flex
			flex-direction: column
			justify-content: space-between
			opacity: 0
			visibility: hidden
			transition: opacity .3s, visibility .3s
			.slick-active &
				opacity: 1
				visibility: visible
	&__top
		padding: 51px 43px
		display: flex
		align-items: center
		justify-content: space-between
		background-color: rgba($white, .5)
		line-height: 1.1
		color: $brown
		+lg
			padding: 30px
		+sm
			background-color: $powder
			// display: none // !!!!!!!!!!!!!!!!!!!!!!!!!!
		&.menu-slider__top_display
			display: none
			+sm
				display: block
	&__bottom
		+sm
			// display: none //!!!!!!!!!!!!!!!!!!!!!!
		&.menu-slider__bottom_display
			display: none
			+sm
				display: block
	&__text
		padding: 0 170px 0 73px
		max-width: 1150px
		width: 100%
		+xxl
			padding-right: 100px
		+lg
			padding-left: 50px
			padding-right: 120px
		+sm
			padding: 0 80px
			text-align: center
		+xs
			padding: 0 30px
	&__title
		font-size: 45px
		font-weight: 700
		+circe
		+xxl
			font-size: 37px
		+lg
			font-size: 29px
		span
			font-weight: 900
	&__subtitle
		margin-top: 8px
		font-weight: 500
		font-size: 24px
		+xxl
			font-size: 20px
		+lg
			font-size: 16px
	&__btn
		flex-shrink: 0
		+md
			display: none
		&_mob
			display: none
			+md
				display: block
				text-align: center
				padding-top: 35px
			+sm
				padding-top: 175px
			+ms
				padding-top: 160px
	&__list


.menu-list
	display: flex
	// align-items: center
	background-color: rgba($black, .35)
	+sm
		flex-wrap: wrap
		// background-color: rgba($gray, .4)
		position: relative
		top: 140px
	&__item
		width: 33.33%
		position: relative
		color: $white
		transition: background-color .3s
		+hover
			.icon
				background-color: rgba($black, .2)
			.menu-ingredients
				opacity: 1
				visibility: visible
			.menu-list__ingredients-wrap
				opacity: 1
				visibility: visible
		+sm
			width: 100%
			position: static
		// .icon
		// 	display: block
		// 	margin-left: 35px
		// 	font-size: 55px
		// 	border-radius: 50%
		// 	transition: background-color .3s
		// 	position: absolute
		// 	right: 83px
		// 	top: 50%
		// 	transform: translateY(-50%)
		// 	+lg
		// 		font-size: 42px
		// 		margin-left: 20px
		// 	+md
		// 		font-size: 25px
		// 		right: 10px
		// 	+sm
		// 		font-size: 40px
			// +xxl
			//     margin-left: 25px
		&_green
			+hover
				background-color: rgba($green, .5)
			+md
				a
					&.is-active
						background-color: rgba($green, .4)
		&_orange
			+hover
				background-color: rgba($orange, .5)
			+md
				a
					&.is-active
						background-color: rgba($orange, .4)
		&_pink
			+hover
				background-color: rgba($pink, .5)
			+md
				a
					&.is-active
						background-color: rgba($pink, .4)
	&__link
		padding: 45px 40px 44px
		display: flex
		justify-content: center
		align-items: center
		text-transform: uppercase
		font-size: 30px
		font-weight: 700
		+circe
		+xxl
			font-size: 25px
		+lg
			font-size: 18px
			padding: 25px
		+md
			padding: 15px
			font-size: 16px
		+sm
			font-size: 28px
			position: relative
			padding-right: 35px
			padding-left: 40px
		+ms
			font-size: 20px
		span
			position: relative
			display: block
			padding-right: 86px
			+lg
				padding-right: 70px
			+md
				padding-right: 40px
			+sm
				// padding-right: 70px
				display: flex
				align-items: center
				padding-right: 0
				justify-content: space-between
				width: 100%
			.icon
				content: ''
				position: absolute
				font-size: 55px
				top: 50%
				transform: translateY(-50%)
				right: 0
				border-radius: 50%
				+lg
					font-size: 40px
				+md
					font-size: 25px
				+sm
					font-size: 40px
					position: static
					transform: none

.menu-ingredients
	padding: 46px 45px 41px 76px
	overflow: auto
	color: $brown
	font-size: 32px
	font-weight: 700
	+circe
	text-transform: uppercase
	line-height: 1.1
	scrollbar-color: #c7c7cc #efeff4
	scrollbar-width: thin
	+xxl
		font-size: 26px
		max-height: 450px
	+lg
		font-size: 20px
	+md
		padding: 25px 40px 70px 25px 
	&::-webkit-scrollbar 
		width: 6px
		height: 6px
		+sm
			display: none
	&::-webkit-scrollbar-track 
		background: #efeff4
		+sm
			display: none
	&::-webkit-scrollbar-thumb 
		background: #c7c7cc
		+sm
			display: none
	&::-webkit-scrollbar-thumb:hover 
		background: #b1b1b2
		+sm
			display: none
	&__item
		transition: color .3s
		&:not(:first-child)
			margin-top: 20px
		.menu-list__item_green &
			+hover
				color: $green
		.menu-list__item_pink &
			+hover
				color: $pink
		.menu-list__item_orange &
			+hover
				color: $orange
	// &.is-active
	// 	+md
	// 		opacity: 1
	// 		visibility: visible

.menu-list__ingredients-wrap
	overflow: auto
	position: absolute
	opacity: 0
	visibility: hidden
	transition: opacity .3s, visibility .3s
	bottom: 100%
	width: 100%
	left: 0
	// padding: 46px 45px 41px 76px
	background-color: rgba($white, .5)
	max-height: 500px
	// position: relative
	// opacity: 0
	// visibility: hidden
	// transition: opacity .2s, visibility .2s
	// z-index: -5
	// transform: translateX(-100%)
	&.is-active
		+md
			opacity: 1
			visibility: visible
			z-index: 2
			// transform: translateX(0)
			
	.slick-list
		overflow: hidden
	.slick-dots
		position: absolute
		left: 50%
		transform: translateX(-50%)
		bottom: 30px
		display: flex
		justify-content: space-between
		align-items: center
		li
			line-height: 0
			&:not(:first-child)
				margin-left: 18px