.menu
	overflow: hidden
	&__inner
		position: relative
		+sm
			padding: 0
	&__prev-arrow,
	&__next-arrow
		position: absolute
		z-index: 2
		cursor: pointer
		user-select: none
		top: 54px
		border-radius: 50%
		transition: background-color .3s
		+hover
			background-color: rgba($black, .2)
		.icon
			display: block
			font-size: 42px
			+xs
				font-size: 30px
		.dishes-menu &
			top: 0px
			color: $brown
		.dishful &
			top: 35px
	&__prev-arrow
		left: 57px
		+sm
			left: 34px
		+xs
			left: 10px
		.dishful &
			left: 34px
			+ms
				left: 10px
		.dishes-menu &
			left: 59px
			+md
				left: 34px
			+sm
				left: 10px
	&__next-arrow
		right: 32%
		+md
			right: 71px
		+sm
			right: 34px
		+xs
			right: 10px
		.dishful &
			right: 34px
			+ms
				right: 10px
		.dishes-menu &
			right: 59px
			+md
				right: 24px
			+sm
				right: 10px
	.slick-list
		overflow: visible
	&__slider-wrap
		position: relative

.menu-slider
	font-size: 0
	white-space: nowrap
	opacity: 0
	visibility: hidden
	transition: opacity .3s, visibility .3s
	&.slick-initialized
		white-space: normal
		opacity: 1
		visibility: visible
	.dishful &
		white-space: normal
		opacity: 1
		visibility: visible
	&:before,
	&:after
		content: ''
		position: absolute
		top: 0
		width: 100%
		height: 100%
		background-color: rgba($white, .5)
		z-index: 1
		+sm
			display: none
	&:before
		left: 100%
	&:after
		right: 100%
	&__slide
		height: 637px
		+sm
			height: 500px
		&-wrap
			background-repeat: no-repeat
			background-position: center
			background-size: cover
			height: 100%
			display: flex
			flex-direction: column
			justify-content: space-between
			opacity: 1
			visibility: visible
			transition: opacity .3s, visibility .3s
	&__top
		padding: 40px 0
		display: flex
		align-items: center
		justify-content: space-between
		background-color: rgba($white, .5)
		line-height: 1.1
		color: $brown
		.menu &
			position: absolute
			top: 0
			left: 0
			width: 100%
			z-index: 1
			+sm
				position: static
				background-color: $powder
		&.menu-slider__top_display
			display: none
			+sm
				display: block
		.dishful &
			padding-top: 35px
			padding-bottom: 47px
			+md
				padding: 20px 0
	&__bottom
		.menu &
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			z-index: 1
			+sm
				position: static
				margin-top: -89px
			+ms
				margin-top: -80px
		&.menu-slider__bottom_display
			display: none
			+sm
				display: block
	&__text
		padding: 0 140px 0 91px
		width: 100%
		+lg
			padding: 0 70px 0 91px
		+md
			padding: 0 90px
			text-align: center
		+xs
			padding: 0 50px
		.dishful &
			max-width: none
			padding: 0 100px
			text-align: center
			+md
				padding: 0 60px
			+md
				padding: 0 40px
	&__title
		+lg
			font-size: 29px
		span
			text-transform: none
			+sm
				display: block
		&.title
			font-size: 21px
	&__subtitle
		margin-top: 8px
		font-size: 16px
		+sm
			text-align: center
			margin: 8px 0 0
		+ms
			max-width: none
	&__btn
		flex-shrink: 0
		+md
			display: none
		&_mob
			display: none
			+md
				display: block
				text-align: center
				padding-top: 35px
			+sm
				padding-top: 30px
	.slick-dots
		z-index: 2
		display: flex
		position: absolute
		bottom: 125px
		left: 50%
		transform: translateX(-50%)
		li
			padding: 0 10px
		.hero__dot
			&:before
				content: ''
				position: absolute
				+vcenter
				width: 200%
				height: 200%

.menu-list
	// display: flex
	background-color: rgba($black, .35)
	+sm
		flex-wrap: wrap
	&__item
		position: relative
		color: $white
		+sm
			width: 100%
			position: static
		&_green
			.menu-list__link
				+hover
					background-color: rgba($green, .5)
				.slick-current &
					background-color: rgba($green, .5)
		&_orange
			.menu-list__link
				+hover
					background-color: rgba($orange, .5)
				.slick-current &
					background-color: rgba($orange, .5)
		&_pink
			.menu-list__link
				+hover
					background-color: rgba($pink, .5)
				.slick-current &
					background-color: rgba($pink, .5)
	&__link
		padding: 35px
		display: flex
		justify-content: center
		align-items: center
		text-transform: uppercase
		font-size: 20px
		font-weight: 700
		+circe
		transition: background-color .3s
		.icon
			transition: background-color .3s
			+hover
				background-color: rgba($white, .4)
		+lg
			font-size: 18px
			padding: 25px
		+md
			padding: 15px
			font-size: 16px
		+sm
			font-size: 28px
			position: relative
			padding: 18px
			padding-left: 40px
		+ms
			font-size: 20px
			padding: 15px
		span
			position: relative
			display: block
			padding-right: 86px
			+lg
				padding-right: 70px
			+md
				padding-right: 40px
			+sm
				// padding-right: 70px
				display: flex
				align-items: center
				padding-right: 0
				justify-content: space-between
				width: 100%
			.icon
				content: ''
				position: absolute
				font-size: 42px
				top: 50%
				transform: translateY(-50%)
				right: 0
				border-radius: 50%
				+md
					font-size: 25px
				+sm
					font-size: 40px
					position: static
					transform: none

.menu-ingredients
	padding: 40px 30px 30px
	overflow: auto
	color: $brown
	font-size: 20px
	font-weight: 700
	+circe
	text-transform: uppercase
	line-height: 1.1
	scrollbar-color: #c7c7cc #efeff4
	scrollbar-width: thin
	+sm
		padding: 29px 43px 63px
	&::-webkit-scrollbar 
		width: 6px
		height: 6px
		+sm
			display: none
	&::-webkit-scrollbar-track 
		background: #efeff4
		+sm
			display: none
	&::-webkit-scrollbar-thumb 
		background: #c7c7cc
		+sm
			display: none
	&::-webkit-scrollbar-thumb:hover 
		background: #b1b1b2
		+sm
			display: none
	&__item
		transition: color .3s
		&:not(:first-child)
			margin-top: 20px
		.menu-list__item_green &
			+hover
				color: $green
		.menu-list__item_pink &
			+hover
				color: $pink
		.menu-list__item_orange &
			+hover
				color: $orange
	// &.is-active
	// 	+md
	// 		opacity: 1
	// 		visibility: visible

.menu-list__ingredients-wrap
	overflow: auto
	position: absolute
	opacity: 0
	visibility: hidden
	transition: opacity .3s, visibility .3s
	bottom: 100%
	width: 100%
	left: 0
	// padding: 46px 45px 41px 76px
	background-color: rgba($white, .5)
	max-height: 500px
	// position: relative
	// opacity: 0
	// visibility: hidden
	// transition: opacity .2s, visibility .2s
	// z-index: -5
	// transform: translateX(-100%)
	.slick-current &
		opacity: 1
		visibility: visible
		z-index: 2
	.slick-list
		overflow: hidden
	.slick-dots
		position: absolute
		left: 50%
		transform: translateX(-50%)
		bottom: 30px
		display: flex
		justify-content: space-between
		align-items: center
		li
			line-height: 0
			&:not(:first-child)
				margin-left: 18px