.order-page
	&__title
		padding-top: 50px
	&__order
		margin-top: 36px
	&__item
		margin-top: 20px
	&__bonus
		padding-top: 75px


.order
	color: $cardTitle
	padding: 30px 35px
	display: flex
	justify-content: space-between
	font-size: 18px
	&__main
		padding-right: 40px
	&__header
		font-size: 25px
		padding-bottom: 23px
		span
			font-weight: 700
	&__footer
		padding-top: 30px
		span
			font-size: 20px
			font-weight: 700
			text-transform: uppercase