.review
	padding: 37px 0 20px
	+sm
		padding: 37px 0 42px
	&__inner
		+md
			padding: 0
	&__header
		display: flex
		align-items: center
		justify-content: space-between
		+md
			justify-content: center
	&__list
		display: flex
		margin: 27px -32px 0
		+lg
			margin: 35px -20px 0
		+md
			margin: 24px 0 0
			display: block
			position: relative
			padding-bottom: 25px
		+xs
			max-width: 270px
			margin: 24px auto 0
		.slick-list
			+xs
				overflow: visible
		.slick-dots
			display: flex
			position: absolute
			bottom: 0px
			left: 50%
			transform: translateX(-50%)
			li
				&:not(:first-child)
					margin-left: 20px
		.slick-track
			+md
				display: flex
		.slick-slide
			+md
				height: auto
				& > div
					height: 100%
	&__item-wrap
		padding: 0 32px
		width: 25%
		+lg
			padding: 0 20px
		+md
			height: 100%
	&__btn
		+md
			display: none
		&_mob
			display: none
			+md
				display: block
				text-align: center
				padding-top: 24px

.review-item
	width: 100%
	font-size: 25px
	&__img-wrap
		display: block
		border: 10px solid $coffee
		height: 0
		padding-bottom: 91%
		background-repeat: no-repeat
		background-size: cover
		background-position: 50% 50%
	&__text
		padding: 26px 24px
		font-size: 13px
	&__link-wrap
		line-height: 1.2
		&:not(:first-child)
			margin-top: 5px
		&:last-child
			margin-top: 10px
	&__link
		transition: color .3s
		+hover
			color: $orange
		&_name
			font-weight: 500
			font-size: 15px
		&_insta
			color: $blue
			text-decoration: none
			font-size: 15px