.icon-arrow-down {
  width: 1.82em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-left {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-right {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-logo {
  width: 0.69em;
  height: 1em;
  fill: currentColor;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
