.icon-arr-left {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-down {
  width: 1.82em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-left {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-right {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook-m {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-insta {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-instagram-m {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-logo-mob {
  width: 2.53em;
  height: 1em;
  fill: currentColor;
}
.icon-logo {
  width: 0.69em;
  height: 1em;
  fill: currentColor;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-vk-m {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
